// Tabula rasa
@import "tink/variables";
@import "tink/functions";
@import "tink/mixins";

/**
 * Shame
 */

body {
  margin-bottom: rem(25);
}

// .shame-h1 {
//   background: $gray;
//   border-radius: rem(4);
//   color: #fff;
//   display: inline-block;
//   font-size: rem(16);
//   margin: rem(15 0 10);
//   padding: rem(3 6 4);
// }

// .shame-h2 {
//   @extend .shame-h1;
//   background: $gray-light;
//   font-size: rem(16);
//   margin: rem(20 0);
//   padding: rem(2 6 3);
// }

.shame-h1 {
  background: none;
  //color: $gray-dark;
  font-size: rem(15);
  margin: 0;
  padding: 0;
}

.shame-h2 {
  @extend .shame-h1;
  background: $gray-light;
  border-radius: rem(4);
  color: #fff;
  display: inline-block;
  font-size: rem(13);
  margin: rem(10 0);
  padding: rem(2 6 3);
}


.shame-view-container {
  padding: rem(75 0 0 !important);
}

.shame-header {
  background-color: $black;
  height: rem(50);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  background: linear-gradient(135deg, #5fb1d6 0%,#347ea6 100%);
  height: rem(50);
  margin-bottom: 0;
  overflow: hidden;
  width: rem(50);

  a {
    background: transparent;
    display: block;
    transition: background $animation-speed linear;

    &:hover,
    &:focus {
      background: $brand;
    }
  }
}

.shame-open-sidenav {
  display: table;
  font-size: rem(21);
  height: rem(50);
  left: rem(50);
  position: fixed;
  text-align: center;
  top: 0;
  width: rem(50);
  z-index: 1001;

  a {
    color: $gray-lighter;
    display: table-cell;
    height: 100%;
    vertical-align: middle;

    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  @include mq(768) {
    display: none;
  }
}

.main-logo {
  color: $gray;
  margin-bottom: rem(50);

  img {
    display: inline-block;
    max-height: rem(150);
  }
}

.main-ul {
  margin-bottom: rem(40);
}

.shame-faq {
  dt,
  dd {
    position: relative;

    &:before {
      color: $gray;
      content: attr(data-title);
      font-size: rem(24);
      font-weight: 300;
      left: 0;
      position: absolute;
      top: rem(-2);
    }
  }

  dt {
    margin: rem(32 0 0);
    padding: rem(8 0 0 36);
  }

  dd {
    padding: rem(8 0 0 36);
  }
}

// Select Code (to be placed on textarea fields)
$selectcode-textarea-padding: rem(($line-height-computed) / 1.5);

.selectcode {
  background-color: $pre-bg;
  border: 1px solid $pre-border-color;
  border-radius: rem($border-radius-base);
  color: $pre-color;
  display: block;
  font-family: $font-family-monospace;
  font-size: rem($font-size-base - 1); // 14px to 13px
  line-height: $line-height-base;
  margin-bottom: rem(10);
  overflow: auto;
  padding: $selectcode-textarea-padding $selectcode-textarea-padding 0;
  word-break: break-all;
  // word-wrap: break-word;
  // white-space: nowrap;
}

html.sidenav-open {

  body {
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
  }

  #shame-content {
    // transform: translate(rem(220), 0);
    left: rem(220);
    right: rem(-220);

    #shame-nav-container {
      // transform: translate(0, 0);
      left: 0;
    }
  }
}

#shame-content {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: rem(50);
  transition: left $animation-speed linear, right $animation-speed linear;

  @include mq(768) {
    left: rem(220);
    margin-left: rem(20);
    width: auto;
  }

  > div {
    padding-bottom: rem(25);
  }

  #shame-nav-container {
    left: rem(-220);
    transition: left $animation-speed linear;

    @include mq(768) {
      left: 0;
    }
  }
}

#shame-nav-container {
  border-right: 2px solid $gray;
  z-index: 11;
  position: fixed;
  top: rem(50);
  bottom: 0;
  width: rem(220);
  padding: 0;
  background-color: lighten($gray-lighter, 4%);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;

  #shame-nav-wrapper {
    width: 100%;
    height: 100%;

    ul {
      padding-left: 0;
      padding: 0;
      list-style: none;

      > li {
        display: block;
        overflow: hidden;
        // max-height: rem(50);
        position: relative;
        transition: max-height $animation-speed linear;

        > a {
          position: relative;
          color: $gray;
          display: block;
          height: rem(50);
          padding: rem(15 15);
          border-bottom: 1px solid #e5e5e5;
          transition: all $animation-speed linear;

          &:hover,
          &:focus {
            text-decoration: none;
            background-color: $gray-lighter;
          }

          > i {
            position: relative;
            display: block;
            float: left;
            width: rem(50);
            height: rem(50);
            line-height: rem(50);
            border-right: 1px solid #e5e5e5;
            text-align: center;
            margin: rem(-15 10 -15 -15);

            &:before {
              position: relative;
              transition: color $animation-speed linear;
              z-index: 1;
            }

            .icon-bg {
              position: absolute;
              z-index: 12;
              z-index: 0;
              left: rem(-47);
              width: 100%;
              top: 0;
              bottom: 0;
              transition: left $animation-speed linear;
            }
          }

          > .badge {
            position: absolute;
            right: rem(5);
            top: rem(16);
          }
        }

        &:hover,
        &.active,
        &.open {
          // max-height: rem(1000);

          > a {
            background-color: $gray-lighter;

            > i {
              &:before {
                color: $white;
              }
              .icon-bg {
                left: 0;
              }
            }
          }
        }


        > .icon-has-ul {
          cursor: pointer;
          position: absolute;
          top: rem(20);
          right: rem(15);
        }
      }


    }
    #nav ul li {
      position: relative;
      padding: 0;
    }
    #nav ul a {
      font-size: $font-size-base;
    }


  }
}


.badge {
  display: inline-block;
  min-width: rem(10);
  padding: rem(3 7);
  font-size: rem(12);
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: rem(10);
}

// SHAME colors
.bg-orange {
  background-color: #f98e33;
  color: white;
}
.bg-danger {
  background-color: #e94b3b;
  color: white;
}
.bg-warning {
  background-color: #ffb61c;
  color: white;
}
.bg-success {
  background-color: #23ae89;
  color: white;
}
.bg-info {
  background-color: #2ec1cc;
  color: white;
}
.bg-primary-light {
  background-color: $brand-light; // #449dd5
  color: white;
}
.bg-primary {
  background-color: $brand; // #1c7ebb
  color: white;
}
.bg-violet {
  background-color: #6a55c2;
  color: white;
}

.fontawesome-icon-list {
  .fa-hover {
    //padding-top: 7px;

    > span {
      display: block;
      color: $text-color;
      line-height: rem(32);
      height: rem(32);
      padding-left: rem(5);
      border-radius: $border-radius-base;

      .fa {
        margin-right: rem(10);
      }

      &:hover {
        background: $gray-dark;
        color: white;
        text-decoration: none;

        .fa {
          font-size: rem(28);
          vertical-align: rem(-6);
        }
      }
    }
  }
}


.show-grid {
  margin-bottom: rem(15);
  width: 100%; // for visualisation purpose, smaller width, so spillover is not too close to the sides
  padding-left: 2.5%; // for visualisation purpose, smaller width, so spillover is not too close to the sides

  [class^=col-] {
    padding-top: rem(10);
    padding-bottom: rem(10);
    background-color: #eee;
    background-color: $gray-lighter;
    border: 1px solid #ddd;
    border: 1px solid $gray-light;
  }
}

.zero-clipboard {
  position: relative;
  display: none;
  @include mq(768) {
    display: block;
  }
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: rem(5 8);
  font-size: rem(14);
  text-transform: uppercase;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: rem(0 4);

  &:hover {
    background-color: $brand;
    color: #fff;
  }
}
.highlight {
  padding: rem(9);
  margin-bottom: rem(14);
  //background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: rem(4);

  pre {
    margin-bottom: 0;
  }
}


// color
p.sg-swatch-m {
  background: lighten($gray-lighter, 6%);
  border-radius: $border-radius-base;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: $gray-dark;
  font-size: rem(11);
  font-weight: bold;
  height: rem(180);
  margin-bottom: rem(20);
  padding: rem(120 5 10);
  position: relative;
  text-align: center;

  &:before {
    content: "";
    height: rem(100);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .fw-300 {
    font-weight: 300;
  }
}

.bg-color1,
.bg-color2,
.bg-color3,
.bg-color4,
.bg-color5,
.bg-color6 {
  border-radius: $border-radius-base;
  padding: 0;
}

.bg-brand:before {
  background: $brand;
}
.bg-brand-light:before {
  background: $brand-light;
}
.bg-brand-success:before {
  background: $brand-success;
}
.bg-brand-info:before {
  background: $brand-info;
}
.bg-brand-warning:before {
  background: $brand-warning;
}
.bg-brand-danger:before {
  background: $brand-danger;
}
.bg-gray-darker:before {
  background: $gray-darker;
}
.bg-gray-dark:before {
  background: $gray-dark;
}
.bg-gray:before {
  background: $gray;
}
.bg-gray-light:before {
  background: $gray-light;
}
.bg-gray-lighter:before {
  background: $gray-lighter;
}

// overview
.light-set {
  background: #ebeff2;
}
.dark-set {
  background: #4C5B6B;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, ul, ol {
    color: lighten(invert($text-color), 10%);
  }
}

.ui-timline-container {
    padding: 15px;
}

.ui-timline-left {
    .ui-timeline {
        &:before {
            left: 0;
        }

        .tl-item {
            &:before {
                @media (min-width: $screen-sm) {
                    display: none;
                }
            }

            .tl-caption {
                @media (min-width: $screen-sm) {
                    margin-left: -55px;
                }
            }


            .tl-body {
                .tl-time {
                    @media (min-width: $screen-sm) {
                        left: auto;
                        right: 15px;
                        color: $gray-light;
                    }
                }
            }
        }
    }
}

.ui-timeline {
  display: table;
  position: relative;
  table-layout: fixed; // ensure same width
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  &:before {
    background-color: darken($gray-lighter, 10%);
    bottom: 0;
    content: "";
    position: absolute;
    left: 0;
    top: rem(30);
    width: 1px;
    z-index: 0;
    @media (min-width: $screen-sm) {
      left: 50%;
    }
  }

  .tl-item {
    display: table-row;
    margin-bottom: rem(5);
    &:before {
      display: none;
      content: "";
      @media (min-width: $screen-sm) {
        display: block;
        width: 50%;
      }
    }

    .tl-caption {
      width: rem(150);
      margin-left: rem(-55);
      @media (min-width: $screen-sm) {
        margin-left: rem(-110);
      }

      span.btn {
        cursor: default;
        pointer-events: none;
      }

    }

    &.alt {
      @media (min-width: $screen-sm) {
        text-align: right;
        &:before {
          display: none;
        }
        &:after {
          content: "";
          display: block;
          width: 50%;
        }

        .tl-body {
          .tl-entry {
            margin: rem(0 35 15 0);
          }
          .tl-time {
            right: rem(-220);
            left: auto;
            text-align: left;
          }
          .tl-icon {
            right: rem(-53);
            left: auto;
          }
          .tl-content {
            &:after {
              right: rem(-16);
              left: auto;
              border: rem(8) solid transparent;
              border-left: rem(8) solid lighten($gray-lighter, 4%);
            }
          }
        }
      }
    }

    .tl-body {
      display: table-cell;
      width: 50%;
      vertical-align: top;

      .tl-entry {
        position: relative;
        margin: rem(0 0 15 36);
      }
      .tl-time {
        z-index: 1;
        position: absolute;
        left: auto;
        right: rem(15);
        top: rem(5);
        width: rem(150);
        color: $gray-light;
        line-height: rem(35);
        text-align: right;
        @media (min-width: $screen-sm) {
          left: rem(-220);
          right: auto;
          color: $text-color;
        }
      }
      .tl-icon {
        position: absolute;
        left: rem(-53);
        top: rem(5);
      }
      .tl-title {}
      .tl-content {
        position: relative;
        padding: rem(15);
        border-radius: rem($border-radius-base);
        background-color: lighten($gray-lighter, 4%);
        &:after {
          content: " ";
          line-height: 0;
          position: absolute;
          left: rem(-16);
          top: rem(15);
          border: rem(8) solid transparent;
          border-right: rem(8) solid lighten($gray-lighter, 4%);
        }
      }
    }
  }
}

.round-icon {
  display: block;
  text-align: center;

  &.sm {
    width: rem(35);
    height: rem(35);
    font-size: rem(16);
    line-height: rem(35);
    border-radius: rem(35);
  }
}

// PANEL STYLING - to be commented out when pushing
body {
  background: darken($body-bg, 5);
}
// .panel {
//   background: #FFF;
//   padding: rem(5 10);
// }
