/**
 * Variables
 * ----------------------------------------------------------------
 */

/**
 * Main
 */
$primary:                                #00b3dc;

$logo:                                   "theme/ocmw-logo.svg";

$brand:                 				      	 #416a50;
$brand-light:           					       #5f9770;

$nav-top-bg-color:      					       #333;
$nav-aside-link-active-background-color: $brand-light;
$nav-aside-link-hover-color:             $brand-light;
$nav-aside-link-hover-background-color:  lighten($brand-light, 46%);


/**
 * Colors
 */
$brand-success:                          #0b0;


/**
 * Code
 */
$code-bg:                                lighten($brand, 60%);


/**
 * Buttons
 */
$btn-primary-color:                      #fff;
$btn-primary-bg:                         $primary;
$btn-primary-border:                     $primary;



/**
 * Callouts
 */
$callout-color:                          $primary;
