/**
 * Variables
 * ----------------------------------------------------------------
 */

/**
 * Custom
 */
$primary: #219dc8;
/**
 * End custom
 */

$logo: "theme/stad-logo.svg";

$brand:                 					#CF0039;
$brand-light:           					#F28B00;

$nav-top-bg-color:      					#333;
$nav-aside-link-active-background-color:    $brand-light;
$nav-aside-link-hover-background-color:     lighten($brand-light, 42%);

/**
 * Buttons
 */
// $btn-default-color:              #fff;
// $btn-default-bg:                 $brand;
// $btn-default-border:             darken($brand, 4%);
// $btn-default-hover-bg:           lighten($brand, 6%);

// $btn-primary-color:              #fff;
// $btn-primary-bg:                 $primary;
// $btn-primary-border:             $primary;
