/* A11Y
*  Accessibility
*  refers to the accessibility of a computer system to all people, regardless of disability or severity of impairment.
*/

/* set up hidden tooltip */
[role="tooltip"] {

}

/* reveal associated tooltip on focus of preceeding input */
input:focus + [role="tooltip"] {
  display: block;
  position: absolute;
  top: 100%;
}


/* 4. Simple tab interface */

a[role="tab"] {
  background: #1928CF;
  color: #fff;
  padding: 0.75em 0.33em;
  display: inline-block;
  margin-right: 0.25em;
}

a[aria-selected], a[role="tab"]:focus {
  background: #fff;
  color: #222;
  border: 2px solid #222;
  border-bottom: 0;
  position: relative;
  top: 2px;
}

a[role="tab"]:focus {
  background: #eee;
}

[role="tablist"] li {
  display: inline-block;
  list-style: none;
}

[role="tabpanel"] {
  margin-top: 0;
  padding: 1.5em;
  border: 2px solid #222;
}

[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

[role="tabpanel"]:focus {
  background: #eee;
  outline: thin dotted;
}