/**
 * Badges
 * --------------------------------------------------
 */


// Base class
%badge {
  @include badge-size($badge-padding-vertical, $badge-padding-horizontal, $badge-font-size, $badge-line-height, $badge-border-radius);
  background-color: $badge-bg;
  color: $badge-color;
  display: inline-block;
  font-weight: $badge-font-weight;
  min-width: rem(10);
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  .btn & {
    margin-left: rem($badge-margin-base-left);

  }

  .btn-large & {
    margin-left: rem($badge-margin-lg-left);

  }

  .btn-sm & {
    margin-left: rem($badge-margin-sm-left);

  }

  .btn-xs & {
    margin-left: rem($badge-margin-xs-left);

  }

  .btn-xs & {
    line-height: $badge-sm-line-height;
  }

  // [converter] extracted a& to a.badge

  // Account for badges in navs
  a.list-group-item.active > &,
  .nav-pills > .active > a > & {
    background-color: $badge-active-bg;
    color: $badge-active-color;
  }
  .nav-pills > li > a > & {
    margin-left: rem(3);
  }
}

// Hover state, but only for links
a.badge {
  &:hover,
  &:focus {
    color: $badge-link-hover-color;
    cursor: pointer;
    text-decoration: none;
  }
}

.badge {
  @extend %badge;
  @include badge-variant ($badge-default-color, $badge-default-bg);
}

// Alternate badges
// --------------------------------------------------

// Primary appears as brand color
.badge-primary {
  @extend %badge;
  @include badge-variant($badge-primary-color, $badge-primary-bg);
}// Success appears as green
.badge-success {
  @extend %badge;
  @include badge-variant($badge-success-color, $badge-success-bg);
}
// Info appears as light blue
.badge-info {
  @extend %badge;
  @include badge-variant($badge-info-color, $badge-info-bg);
}
// Warning appears as orange
.badge-warning {
  @extend %badge;
  @include badge-variant($badge-warning-color, $badge-warning-bg);
}
// Danger and error appear as red
.badge-danger {
  @extend %badge;
  @include badge-variant($badge-danger-color, $badge-danger-bg);
}

.btn,
.btn-sm,
.btn-xs {
    .badge-primary {
      @extend %badge;
      @include badge-variant($badge-primary-bg, $badge-default-invert-bg);
    }
    .badge-success {
      @extend %badge;
      @include badge-variant($badge-success-bg, $badge-default-invert-bg);
    }
    .badge-info {
      @extend %badge;
      @include badge-variant($badge-info-bg, $badge-default-invert-bg);
    }
    .badge-warning {
      @extend %badge;
      @include badge-variant($badge-warning-bg, $badge-default-invert-bg);
    }
    .badge-danger {
      @extend %badge;
      @include badge-variant($badge-danger-bg, $badge-default-invert-bg);
    }
}
