/**
 * Breadcrumbs
 * --------------------------------------------------
 * - breadcrumbs
 * - there's also a breadcrumbs branch where there's microdata enhancement in the HTML ( branch breadcrumbs-microdata )
 */


.breadcrumbs,
.breadcrumbs ol {
  display: inline;
  list-style: none;
  padding-left: 0;
  .breadcrumbs-item {
    color: $breadcrumb-color;
    display: inline;
    font-size: $breadcrumb-font-size;
    padding: 0;

    :not(:first-child) {
      &:before {
        color: $breadcrumb-separator-color;
        content: $breadcrumb-separator; //'\f054';
        font-family: 'FontAwesome';
        font-size: rem($breadcrumb-separator-size);
        padding: rem($breadcrumb-separator-padding);
        vertical-align: middle;
      }
    }

    &.is-current {
      font-weight: $breadcrumb-active-font-weight;
    }
  }
}