//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs,
.breadcrumbs ol {
  display: inline;
  list-style: none;
  padding-left: 0;
  .breadcrumbs-item {
    display: inline;
    font-size: $font-size-base;

    :not(:first-child) {
      &:before {
        color: $gray-light;
        content: '\f054';
        font-family: 'FontAwesome';
        font-size: $font-size-small * .7;
        padding: rem(0 8px 0 10px);
        vertical-align: middle;
      }
    }

    &.is-current {
      font-weight: 600;
    }
  }
}