//
// Callout
// --------------------------------------------------

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: none;
  border-left: 4px solid transparent;

  h4 {
      margin-top: 0;
      color: inherit;
  }

  .callout-link {
      font-weight: bold;
  }

  > p,
  > ul {
      margin-bottom: 0;
  }

  > p + p {
      margin-top: 5px;
  }
}

.callout-success {
  background-color: $white;
  border-color: $brand-success;

  hr {
    border-top-color: #c9e2b3;
  }
  .callout-link {
    color: $link-color;
  }
}

.callout-info {
  background-color: $white;
  border-color: $brand-info;

  hr {
    border-top-color: #c9e2b3;
  }
  .callout-link {
    color: $link-color;
  }
}

.callout-warning {
  background-color: $white;
  border-color: $brand-warning;

  hr {
    border-top-color: #c9e2b3;
  }
  .callout-link {
      color: $link-color;
  }
}

.callout-danger {
  background-color: $white;
  border-color: $brand-danger;

  hr {
    border-top-color: #c9e2b3;
  }
  .callout-link {
    color: $link-color;
  }
}