/**
 * Component: datepicker
 * --------------------------------------------------
 * - single
 * - range
 */

$datepicker-default-bgcolor            : $white;
$datepicker-default-btn-bgcolor        : $white;
$datepicker-default-btn-bgcolor-hover  : lighten($brand, 20);
$datepicker-default-btn-color          : $gray;
$datepicker-default-btn-color-hover    : $white;
$datepicker-default-neutral            : $gray;
$datepicker-default-neutral-light      : $gray-light;
$datepicker-default-neutral-dark       : $gray-dark;

.tink-datepickerrange-input-fields {
  display: inline-block;
  position: relative;

  .input-group,
  .input-group[class*="col-"] {
    float: left;

    div .faux-input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.tink-datepicker, .datepicker,
.tink-datepickerrange, .datepickerrange {
  background: $datepicker-default-bgcolor;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  color: $datepicker-default-neutral-dark;
  margin-top: 2px;
  position: relative;
  top: rem($input-height-base);
  z-index: layer("popover");

  button,
  .btn {
    @extend .no-border;
    color: $datepicker-default-btn-color;
    min-width: 20px;
    padding: rem($padding-base-vertical 0);
    width: 100%;
    background: $datepicker-default-btn-bgcolor;

    @include mq($screen-md) {
      min-width: 40px;
    }

    &:hover {
      background: $datepicker-default-btn-bgcolor-hover;
      color: $datepicker-default-btn-color-hover;
    }

    &.btn-warning {
      background: $datepicker-default-btn-bgcolor;
      border: 1px solid $brand !important;
    }

    &.btn-primary,
    &.btn-info {
      background: $brand;
      color: $white;
    }
    &.btn-grayed {
      color: lighten($datepicker-default-neutral-light, 10);
      &-selected {
        background-color: $datepicker-default-neutral-light; //$btn-info-bg;
        border-color: $datepicker-default-neutral; //$btn-info-border;
        color: $white; //$gray;
      }
    }

  }

  table {
    background: $datepicker-default-bgcolor;
    margin-bottom: 0;
  }

  .table-responsive {
    border: none;
  }

  td,
  th {
    border: none;
    color: $datepicker-default-neutral;
    padding: rem($table-cell-padding / 3);
    text-align: center;
  }
}

.datepicker {
  min-width: rem(260);
  position: absolute;
}

.datepickerrange {
  position: relative;

  @include mq($screen-xs) {
    min-width: 400px;
    &:before {
      background: lighten($datepicker-default-neutral-light, 10);
      bottom: 0;
      content: "";
      left: 50%;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }

  @include mq($screen-sm) {
    min-width: 640px;
  }
}

.datepickerrange-header-left,
.datepickerrange-header-right {
  overflow: hidden;
  line-height: rem(39);
  padding: rem($table-cell-padding / 4);

  button,
  .btn {
    &:hover {
      background: $datepicker-default-neutral-light;
    }
  }
}

.datepickerrange-left,
.datepickerrange-right {
  width: 100%;

  @include mq($screen-xs) {
    width: 50%;
  }
}
