//
// Drag and drop
// --------------------------------------------------

.dropzone {
  display: block;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px dashed $dropzone-border-color;
  border-radius: rem($badge-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  min-width: $dropzone-min-width;
  max-width: $dropzone-max-width;
  // padding: rem(15 0);
  padding: rem($dropzone-padding);
  text-align: center;

  &:active {
    &:focus {
      @include tab-focus();
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none; // Future-proof disabling of clicks
  }

  &-header {
    padding: rem($dropzone-padding * 2 $dropzone-padding );
    transition: background $animation-speed linear, border $animation-speed linear, color $animation-speed linear;

    &:hover,
    &:focus {
      background-color: $dropzone-hover-background-color; //$gray-lighter;
    }
  }
}

.dragenter {
  @extend .list-unstyled;
  background-color: $dropzone-drag-hover-bg-color;//$gray-lighter;
  border: 1px dashed darken($dropzone-border-color, 10);
  color: $brand;

  .uploaded-files li { background-color: transparent !important;}
}

.uploaded-files {
  @extend .list-unstyled;
  padding: 0;
  margin: 0;
  text-align: left;
    > li {
      background-color: $dropzone-list-item-bg-color; //$gray-lighter;
      //border-left: 3px solid $dropzone-border-color;
      padding: $dropzone-padding;
      // padding-right: 0;
      margin-bottom: 2px;
      position: relative;
      // text-align: center;

      &:first-child {
        margin-top: $dropzone-padding;
      }

      &:last-child { margin-bottom: 0; }
      &:before {
        content: "\f1c9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
      }

      &.success {
        background-color: $dropzone-list-item-bg-color-success;
        border-color: $dropzone-color-success;
        font-size: $dropzone-list-item-font-size;
        .line { background-color: $dropzone-color-success; }

        &.progress-100 {
          background-color: $dropzone-list-item-bg-color;
          // color: $gray;
          transition: background $animation-fade-speed linear;
          transition-delay: $animation-fade-speed;

          .line {
            background-color: $dropzone-list-item-bg-color;
            transition: background $animation-fade-speed linear;
            transition-delay: $animation-fade-speed;
          }
        }
      }
      &.error {
        background-color: $dropzone-list-item-bg-color-danger;
        border-color: $dropzone-color-danger;
        .line { background-color: $dropzone-color-danger; }
      }


      // Spans communicating about errors and success
      .file {
        font-size: $dropzone-list-item-font-size;
      }
      .error { display: block; }
      .error,
      .error-type,
      .error-filesize {
        color: $dropzone-color-danger;
        font-size: $dropzone-list-item-font-size;
      }
      .delete {
        // background-color: red;
        background-color: transparent;
        border: none;
        display: inline-block;
        // float: right;
        position: absolute;
        right: $dropzone-padding;
        top: $dropzone-padding / 1.5;
        &:before {
          // color: $gray;
          content: "\f00d";
          font-family: FontAwesome;
        }
        &:hover:before {
          // color: $gray-dark;
        }
      }
      .line {
        height: 2px;
        position: absolute;
        bottom:0;
        left:0;
        width: 1%;
      }

    }
}
