//
// Drag and drop
// --------------------------------------------------

.dropzone {
  display: block;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px dashed $dropzone-border-color;
  border-radius: rem($badge-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  // min-width: 600px;
  // padding: rem(15 0);
  padding: rem($dropzone-padding);
  text-align: center;

  &:active {
    &:focus {
      @include tab-focus();
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none; // Future-proof disabling of clicks
  }

  &-header {
    padding: rem($dropzone-padding * 2 $dropzone-padding );
    transition: background $animation-speed linear, border $animation-speed linear, color $animation-speed linear;

    &:hover,
    &:focus {
      background-color: $dropzone-hover-background-color; //$gray-lighter;
    }
  }
}

.dragenter {
  @extend .list-unstyled;
  background-color: $dropzone-drag-hover-bg-color;//$gray-lighter;
  border: 1px dashed darken($dropzone-border-color, 10);
  color: $white;
}

.uploaded-files {
  @extend .list-unstyled;
  padding: 0;
  margin: 0;
  text-align: left;
    > li {
      background-color: $dropzone-list-item-bg-color; //$gray-lighter;
      //border-left: 3px solid $dropzone-border-color;
      padding: rem(3 10);
      margin-bottom: 2px;
      position: relative;
      // text-align: center;

      &:first-child {
        margin-top: $dropzone-padding;
      }

      &.success {
        background-color: $dropzone-list-item-bg-color-success;
        border-color: $dropzone-color-success;
        .line { background-color: $dropzone-color-success; }

        &.progress-100 {
          background-color: $dropzone-list-item-bg-color;
          // color: $gray;
          transition: background $animation-fade-speed linear;
          transition-delay: $animation-fade-speed;

          .line {
            background-color: $dropzone-list-item-bg-color;
            transition: background $animation-fade-speed linear;
            transition-delay: $animation-fade-speed;
          }
        }
      }
      &.error {
        background-color: $dropzone-list-item-bg-color-danger;
        border-color: $dropzone-color-danger;
        .line { background-color: $dropzone-color-danger; }
      }

        &:last-child { margin-bottom: 0; }
        &:before {
          content: "\f1c9";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
        }

      span {
        font-size: $font-size-small;
        &.error {
          color: $dropzone-color-danger;
        }
        &.delete {
          float: right;
          padding-top: $dropzone-padding / 2;
          &:before {
            content: "\f00d";
            font-family: FontAwesome;
          }
        }
        &.line {
          height: 2px;
          position: absolute;
          bottom:0;
          left:0;
          width: 1%;
        }
      }
    }
}
