//
// Drag and drop
// --------------------------------------------------

.dropzone {
  display: block;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px dashed $brand-light;
  border-radius: rem($badge-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: rem(15 0);
  text-align: center;
  transition: background $animation-speed linear, border $animation-speed linear, color $animation-speed linear;

  &:active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    background-color: $gray-lighter;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

.dragenter {
  @extend .list-unstyled;
    background-color: yellow;//$gray-lighter;
}

.uploadedFiles {
  @extend .list-unstyled;
  text-align: left;
    > li {
      background-color: $gray-lighter;
      padding: rem(3 10);
        &:before {
          content: "\f1c9";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
        }
    }
}
