/**
 * Hit area box
 * --------------------------------------------------
 */


.hit-area-box {
  @extend .list-unstyled;
  > li {
    input[type="checkbox"],
    input[type="radio"] {
      + label {
        background-color: $hit-area-bgcolor;
        color: $hit-area-color;
        cursor: pointer;
        display: block;
        margin: rem(6 0);
        padding: rem(7 5 7 45);
        transition: background-color linear $animation-speed;

        &:before {
          border: none; // removing border like defined in 'Focus' design
          height: rem(22); // visually compensating size for removing border on radio
          left: rem(12);
          top: rem(8);
          width: rem(22); // visually compensating size for removing border on radio

          @media screen and (min-width: $screen-sm) {
          height: rem(17); // visually compensating size for removing border on radio
          width: rem(17); // visually compensating size for removing border on radio
          }
        }
      }

      &:active:enabled:not(:checked),
      &:hover:enabled:not(:checked) {
        + label {
          background-color: $hit-area-hover-bgcolor;
          color: $hit-area-hover-color;
        }
      }

      &:checked {
        + label {
          background-color: $hit-area-checked-bgcolor;
          color: #fff;
        }
      }

      &:disabled {
        + label {
          cursor: not-allowed;
        }
      }

      &:focus {
        + label {
          @include tab-focus();
        }
      }
    }

    input[type="checkbox"] {
      + label {
        &:after {
          height: rem(20); // visually compensating size for removing border on square
          left: rem(10);
          top: rem(6);
          width: rem(20); // visually compensating size for removing border on square

          @media screen and (min-width: $screen-sm) {
          height: rem(10); // visually compensating size for removing border on square
          left: rem(13);
          top: rem(9);
          width: rem(10); // visually compensating size for removing border on square
          }
        }
      }
    }
  }
}
