/**
 * Sortable table
 * --------------------------------------------------
 */


.pop-up-dropdown {

  background-color: $brand-light;

}


.selected {
  background-color: $gray-dark;
  color: $gray-lighter;
}
