/**
 * Sortable table
 * --------------------------------------------------
 */
// basic styling is already done on the table element by the _table.scss

// button,
// .btn {

  &.btn-sq {
    border: 1px solid transparent;
    color: $datepicker-btn-color;
    margin: rem(0 2);
    min-height: rem(30);
    min-width: rem(30);
    padding: rem(0);
    // width: 100%; // this was taken from datepicker button but that button is placed in a table
    background: $gray-light;

    @include mq($screen-md) {
      min-height: 38px;
      min-width: 38px;
    }

    &:hover {
      background: $datepicker-btn-bgcolor-hover;
      color: $datepicker-btn-color-hover;
    }
  }

// }





.selected {
  background-color: $gray-dark;
  color: $gray-lighter;
}

.sortable-table {

  > thead > tr > th {
    background-color: $gray;
    border-bottom: 0;
    color: $white;
  }

}

.table-viewer {

}



