// Components
// Datepicker


.tink-datepicker,
.tink-datepickerrange {
  // @extend .margin-top;
  background: $white;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  color: $gray-dark;

  button,
  .btn {
    @extend .no-border;
    color: $gray;
    min-width: 25px;
    // padding: 0;
    padding: rem($padding-base-vertical 0);
    width: 100%;
      // @include mq($screen-sm) {
      //   width: 32px;
      // }
    @include mq($screen-md) {
      min-width: 40px;
    }

    &:hover {
      background: lighten($brand, 20);
      color: $white;
    }
    
    &.btn-warning {
      background: $white;
      border: 1px solid $brand !important;
    }
    
    &.btn-primary,
    &.btn-info {
      color: $white;
    }
  }
  
  table {
    margin-bottom: 0;
  }
  
  .table-responsive {
    border: none;
  }
  
  td,
  th {
    border: none;
    color: $gray;
    padding: rem($table-cell-padding / 3);
    text-align: center;
  }
}

.tink-datepicker {
  max-width: rem(320);
  position: absolute;
}

.tink-datepickerrange {
  position: relative;

  .tink-datepickerrange-header-left,
  .tink-datepickerrange-header-right {
    padding: rem($table-cell-padding / 4);
    line-height: rem(39);
    
    button,
    .btn {
      &:hover {
        background: $gray-light;
      }
    }
  }

  .tink-datepickerrange-left,
  .tink-datepickerrange-right {
    width: 100%;
    
    @include mq($screen-xs) {
      width: 50%;
    }
  }

  @include mq($screen-xs) {
    &:before {
      background: $gray-light;
      bottom: 0;
      content: "";
      left: 50%;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
}