//
// Drag and drop
// --------------------------------------------------

.upload {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px dashed $upload-border-color;
  border-radius: rem($badge-border-radius);
  box-sizing: border-box;
  display: block;
  margin: 0;
  min-width: $upload-min-width;
  max-width: $upload-max-width;
  padding: rem($upload-padding);
  text-align: center;
  transition: background $animation-speed linear;

  &:active {
    &:focus {
      @include tab-focus();
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none; // Future-proof disabling of clicks ->
  }

  &-header {
    cursor: pointer;
    padding: rem($upload-padding * 2 $upload-padding );
    transition: background $animation-speed linear, border $animation-speed linear, color $animation-speed linear;

    &:hover,
    &:focus {
      background-color: $upload-hover-background-color; //$gray-lighter;
    }
  }
}

.dragenter {
  @extend .list-unstyled;
  background-color: $upload-drag-hover-bg-color;//$gray-lighter;
  border: 1px dashed darken($upload-border-color, 10);
  // .upload-header {
  //   color: $brand;
  // }
  //.uploaded-files li { background-color: transparent !important;}
}

.uploaded-files {
  @extend .list-unstyled;
  padding: 0;
  margin: 0;
  text-align: left;
    > li {
      background-color: $upload-list-item-bg-color; //$gray-lighter;
      //border-left: 3px solid $upload-border-color;
      padding: $upload-padding;
      // padding-right: 0;
      margin-bottom: 2px;
      position: relative;
      // text-align: center;

      &:first-child {
        margin-top: $upload-padding;
      }

      &:last-child { margin-bottom: 0; }
      &:before {
        content: "\f1c9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
      }

      &.success {
        background-color: $upload-list-item-bg-color-success;
        border-color: $upload-color-success;
        font-size: $upload-list-item-font-size;
        .line { background-color: $upload-color-success; }

        &.progress-100 {
          background-color: $upload-list-item-bg-color;
          // color: $gray;
          transition: background $animation-slow linear;
          // transition-delay: $animation-slow;

          .line {
            background-color: transparent; //$upload-list-item-bg-color;
            transition: background $animation-slow linear;
            // transition-delay: $animation-slow;
          }
        }
      }
      &.error {
        background-color: $upload-list-item-bg-color-danger;
        border-color: $upload-color-danger;
        .line { background-color: $upload-color-danger; }
      }


      // Spans communicating about errors and success
      .file {
        font-size: $upload-list-item-font-size;
      }
      .error { display: block; }
      .error,
      .error-type,
      .error-filesize {
        color: $upload-color-danger;
        font-size: $upload-list-item-font-size;
      }
      .delete {
        background-color: transparent;
        border: none;
        display: inline-block;
        position: absolute;
        right: $upload-padding;
        top: $upload-padding / 1.5;
        // transition: background $animation-speed linear, color $animation-speed linear;

        &:before {
          color: $upload-delete-icon-color;
          content: "×";
        }
        &:hover:before {
          color: $upload-delete-icon-hover-color;
        }
        &:hover {
          background-color: $upload-delete-icon-bg-hover-color;
        }
      }
      .line {
        height: 2px;
        position: absolute;
        bottom:0;
        left:0;
        width: 1%;
      }

    }
}
