/**
 * Variables
 * ----------------------------------------------------------------
 */


// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
// $bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;


/**
 * Grid
 */

// Media queries breakpoints

$screen-xs:                  480px !default; // Extra small screen / phone
$screen-xs-min:              $screen-xs !default;

$screen-sm:                  768px !default; // Small screen / tablet
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default; // Medium screen / desktop
$screen-md-min:              $screen-md !default;

$screen-lg:                  1200px !default; // Large screen / wide desktop
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;


// Grid system
$grid-columns:              12 !default; // Number of columns in the grid.
$grid-gutter-width:         1.875rem !default; // Padding between columns. Gets divided in half for the left and right.

// Navbar collapse
$grid-float-breakpoint:     $screen-sm !default; // Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default; // Point at which the navbar begins collapsing.


// Container sizes
$container-tablet:             ((45rem + $grid-gutter-width)) !default; // Small screen / tablet // 720px
$container-sm:                 $container-tablet !default; // For `$screen-sm-min` and up.

$container-desktop:            ((58.75rem + $grid-gutter-width)) !default; // Medium screen / desktop // 940px
$container-md:                 $container-desktop !default; // For `$screen-md-min` and up.

$container-large-desktop:      ((71.25rem + $grid-gutter-width)) !default; // Large screen / wide desktop // 1140px
$container-lg:                 $container-large-desktop !default; // For `$screen-lg-min` and up.



/**
 * Scaffolding
 */

// Colors
$white:                 #fff !default;
$black:                 #000 !default;

$gray-darker:           #141414 !default;
$gray-dark:             #333 !default;
$gray:                  #888 !default;
$gray-light:            #bbb !default;
$gray-lighter:          #eaeaea !default;

$brand:                 #347ea6 !default; // Digipolis dark blue - was #698ab2
$brand-light:           #5fb1d6 !default; // Digipolis light blue - was #264a7a

$brand-success:         #4a921f !default; // green
$brand-info:            #76b9f4 !default; // blue - alt: #6eade4 old: #1ba8d9
$brand-warning:         #ff8d00 !default; // orange
$brand-danger:          #e60038 !default; // red

// Settings for some of the most global styles.
$body-bg:               #f7f7f7 !default;
$text-color:            $gray-dark !default;
$link-color:            $brand-light !default;
$link-hover-color:      darken($link-color, 10%) !default;


// Typography

$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default; // Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`

$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          14px !default;


// Scaling for larger viewports
$font-size-factor-sm:     15/14 !default;
$font-size-factor-md:     16/14 !default;
$font-size-factor-lg:     17/14 !default;


$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14 - Unit-less `line-height` for use in components like buttons.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~19px - Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$mark-bgcolor:            #fff799 !default;



/**
 * Type
 */

$component-offset-horizontal: 180px !default; // Horizontal offset for forms and lists.
$text-muted:                  $gray-light !default; // Text muted color
//** Abbreviations and acronyms border color
    // $abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default; // Headings small color
$blockquote-footer-color:     $gray-light !default; // Blockquote small color; variable was $blockquote-small-color
$blockquote-font-size:        ($font-size-base * 1.25) !default; // Blockquote font size
$blockquote-border-color:     $gray-lighter !default; // Blockquote border color
//** Page header border color
    // $page-header-border-color:    $gray-lighter !default;
$dl-horizontal-offset:        $component-offset-horizontal !default; // Width of horizontal description list titles
$hr-border:                   $gray-lighter !default; // Horizontal line color.



/**
 * Code
 */

$code-color:                  $brand !default;
$code-bg:                     lighten($code-color, 54%) !default;

$kbd-color:                   $white !default;
$kbd-bg:                      $gray-darker !default;

$pre-bg:                      $code-bg !default;
$pre-color:                   $code-color !default;
$pre-border-color:            darken($code-bg, 6%) !default;
$pre-scrollable-max-height:   340px !default;



//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
    // $icon-font-path: "bootstrap/" !default;
//** File name for all font files.
    // $icon-font-name:          "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
    // $icon-font-svg-id:        "glyphicons_halflingsregular" !default;



/**
 * Animation
 */

$animation-speed:                .1s !default;
$animation-slow:                 $animation-speed * 8 !default;


/**
 * Form states and alerts
 */
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-success-bg:               lighten($state-success-text, 60%) !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  lighten($state-info-text, 24%) !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               lighten($state-warning-text, 45%) !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                lighten($state-danger-text, 48%) !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


/**
 * Tables
 */

$table-bg:                      $white !default; // Default background color used for all tables.
$table-cell-padding:            8px !default; // Padding for `<th>`s and `<td>`s
$table-condensed-cell-padding:  5px !default; // Padding for cells in `.table-condensed`
$table-bg-accent:               lighten($gray-lighter, 6%) !default; // Background color used for `.table-striped`
$table-border-color:            $gray-light !default; // Border color for table and cell borders

// $table-bg-hover:                lighten($gray-lighter, 6%) !default; // Background color used for `.table-hover`
// $table-bg-active:               $table-bg-hover !default;
$table-bg-active:               $gray-lighter !default;

$table-heading-bg:               $gray-lighter !default;
$table-heading-color:            $gray-darker !default;



/**
 * Components - global settings
 */

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
// $line-height-small:         1.5 !default;

$border-radius-base:        3px !default;
$border-radius-large:       4px !default;
$border-radius-small:       2px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $white !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



/**
 * Buttons
 *
 * For each of Bootstrap's buttons, define text, background and border color.
 */

$btn-font-weight:                600 !default;

$btn-default-color:              $gray-dark !default;
$btn-default-bg:                 $white !default;
$btn-default-border:             $gray-light !default;
$btn-default-hover-bg:           lighten($gray-lighter, 6%) !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $brand !default;
$btn-primary-border:             darken($btn-primary-bg, 4%) !default;

$btn-success-color:              $white !default;
$btn-success-bg:                 $state-success-text !default;
$btn-success-border:             darken($btn-success-bg, 4%) !default;

$btn-info-color:                 $white !default;
$btn-info-bg:                    $state-info-text !default;
$btn-info-border:                darken($btn-info-bg, 4%) !default;

$btn-warning-color:              $white !default;
$btn-warning-bg:                 $state-warning-text !default;
$btn-warning-border:             darken($btn-warning-bg, 4%) !default;

$btn-danger-color:               $white !default;
$btn-danger-bg:                  $state-danger-text !default;
$btn-danger-border:              darken($btn-danger-bg, 4%) !default;

$btn-link-disabled-color:        $gray-light !default;
$btn-icon-margin:                8px !default; // right margin when icon inside button



/**
 * Forms
 */

$input-bg:                       $white !default; // `<input>` background color
$input-bg-disabled:              $gray-lighter !default; // `<input disabled>` background color
$input-base-color:               $brand-light !default; // Color for checkboxes and radio buttons
$input-color:                    lighten($gray-dark, 16%) !default; // Text color for `<input>`s
$input-border:                   $gray-light !default; // `<input>` border color
$input-border-radius:            $border-radius-base !default; // `<input>` border radius
$input-border-focus:             $brand-light !default; // Border color for inputs on focus
$input-color-placeholder:        $gray-light !default; // Placeholder text color
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default; // Default input height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default; // Large `.form-control` height
// $input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default; // Small `.form-control` height

$legend-color:                   $gray-dark !default;
$legend-border-color:            $gray-lighter !default;

$input-group-addon-bg:           $gray-lighter !default; // Background color for textual input addons
$input-group-addon-border-color: $input-border !default; // Border color for textual input addons



/**
 * Dropdowns
 */

//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $white !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       $gray-light !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            $gray-lighter !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         lighten($gray-lighter, 6%) !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
    // $dropdown-caret-color:           $black !default;



/**
 * Z-index, a better implementation
 *
 * Use like this:
 *   z-index: layer("popover");
 *     where popover is a list item of the default list "$layers" (see below)
 *   or
 *   z-index: layer("popover", $other-layers);
 *     where popover is a list item of a custom list named "$other-layers"
 *
 * Current layer list
 * z-index: -1  // cellar
 * z-index: 0   // ground
 * z-index: 1   // base => here's where $layers start
 *
 * Complete layer list (for reference, add these to $layers only if needed)
 * $layers: base, navbar, dropdown, tooltip, navbar-sticky, navbar-fixed, modal-background, modal, popover;
 */
$layers: base, pseudo, above-pseudo, nav-aside, popover, nav-top, modal !default;



/**
 * Bar component
 *
 * Settings for a standard bar
 */
$bar-height:                            50px !default;
$bar-bg-color:                          transparent !default;
$bar-color:                             $gray-darker !default;
$bar-link-color:                        $link-color !default;
$bar-link-hover-color:                  $link-hover-color !default;
$bar-link-bg-hover-color:               $gray-lighter;
$bar-padding:                           $padding-base-horizontal !default;



/**
 * Logo
 */
$logo: "theme/digipolis-logo.svg" !default;
$logo-bg-color: transparent !default;
$logo-width: $bar-height !default;
$logo-height: $bar-height !default;



/**
 * Navigation
 *
 * Settings for the top navigation and the off-canvas navigation
 */

$nav-top-height:                         $bar-height !default;
$nav-top-bg-color:                       $gray-darker !default;
$nav-top-color:                          $white !default;
$nav-top-link-color:                     $white !default;
$nav-top-link-hover-color:               $gray-lighter !default;
$nav-top-link-bg-hover-color:            lighten($nav-top-bg-color, 10);
$nav-top-padding:                        $bar-padding !default;

$nav-aside-horizontal-padding:                  15px !default;
$nav-aside-vertical-padding:                    10px !default;
$nav-aside-item-vertical-padding:               7px !default;
$nav-aside-width:                               220px !default;

$nav-aside-bg-color:                            $white !default;
$nav-aside-section-border-color:                $gray-lighter !default;
$nav-aside-title-color:                         $gray-light !default;
$nav-aside-link-color:                          lighten($gray-dark, 12%) !default;
$nav-aside-link-hover-color:                    $brand !default;
$nav-aside-link-hover-background-color:         rgba($black, .05) !default;
$nav-aside-link-active-color:                   $nav-aside-link-hover-color !default;
$nav-aside-item-open-color:                     $body-bg !default;
$nav-aside-badge-color:                         $gray-dark !default;
$nav-aside-badge-background-color:              $gray-lighter !default;
$nav-aside-badge-hover-color:                   $nav-aside-link-hover-color !default;
$nav-aside-badge-hover-background-color:        $white !default;
$nav-aside-badge-active-color:                  $white !default;
$nav-aside-badge-active-background-color:       $nav-aside-link-hover-color !default;
$nav-aside-badge-active-hover-color:            $white !default;
$nav-aside-badge-active-background-hover-color: $nav-aside-link-hover-color !default;

$back-to-top-color:                            $white !default;
$back-to-top-bgcolor:                          rgba($brand, .4) !default;
$back-to-top-hover-color:                      $white !default;
$back-to-top-hover-bgcolor:                    rgba($brand, .8) !default;



/**
 * Datepicker
 *
 * Settings for both the single as the range datepicker
 */

$datepicker-color:                                    $gray-dark !default;
$datepicker-bg-color:                                 $white !default;
$datepicker-icon-color:                               lighten($gray-dark, 16%) !default;
$datepicker-icon-hover-color:                         $gray-dark !default;
$datepicker-weekdays-color:                           $gray !default;

$datepicker-btn-color:                                $gray !default;
$datepicker-btn-bg-color:                             $datepicker-bg-color !default;
$datepicker-btn-border-color:                         transparent !default;
$datepicker-btn-hover-color:                          $brand !default;
$datepicker-btn-hover-bg-color:                       rgba($black, .07) !default;
$datepicker-btn-hover-border-color:                   $datepicker-btn-border-color !default;

$datepicker-btn-selected-color:                       $white !default;
$datepicker-btn-selected-bg-color:                    $brand !default;
$datepicker-btn-selected-border-color:                $datepicker-btn-border-color !default;

$datepicker-btn-selected-clicked-color:               $datepicker-btn-selected-color !default;
$datepicker-btn-selected-clicked-bg-color:            darken($datepicker-btn-selected-bg-color, 8%) !default;
$datepicker-btn-selected-clicked-border-color:        $datepicker-btn-selected-border-color !default;

$datepicker-btn-grayed-color:                         $gray-light !default;
$datepicker-btn-grayed-bg-color:                      $datepicker-bg-color !default;
$datepicker-btn-grayed-border-color:                  $datepicker-btn-border-color !default;
$datepicker-btn-grayed-hover-color:                   $gray !default;
$datepicker-btn-grayed-hover-bg-color:                $datepicker-btn-hover-bg-color !default;
$datepicker-btn-grayed-hover-border-color:            $datepicker-btn-grayed-border-color !default;

$datepicker-btn-grayed-selected-color:                $datepicker-btn-selected-color !default;
$datepicker-btn-grayed-selected-bg-color:             $gray !default;
$datepicker-btn-grayed-selected-border-color:         $datepicker-btn-border-color !default;

$datepicker-btn-grayed-selected-clicked-color:        $datepicker-btn-grayed-selected-color !default;
$datepicker-btn-grayed-selected-clicked-bg-color:     darken($datepicker-btn-grayed-selected-bg-color, 8%) !default;
$datepicker-btn-grayed-selected-clicked-border-color: $datepicker-btn-grayed-selected-border-color !default;

$datepicker-btn-today-color:                          $brand !default;
$datepicker-btn-today-bg-color:                       lighten($datepicker-btn-today-color, 48%) !default;
$datepicker-btn-today-border-color:                   lighten($datepicker-btn-today-color, 36%) !default;
$datepicker-btn-today-hover-color:                    darken($datepicker-btn-today-color, 8%) !default;
$datepicker-btn-today-hover-bg-color:                 darken($datepicker-btn-today-bg-color, 8%) !default;
$datepicker-btn-today-hover-border-color:             $datepicker-btn-today-border-color !default;



/**
 * Callout
 */
$callout-border-radius         : 0 !default;
$callout-color                 : $brand !default;
$callout-bgcolor               : lighten($callout-color, 50%) !default;

$callout-color-success         : $state-success-text;
$callout-bgcolor-success       : $state-success-bg;
$callout-color-warning         : $state-warning-text;
$callout-bgcolor-warning       : $state-warning-bg;
$callout-color-danger          : $state-danger-text;
$callout-bgcolor-danger        : $state-danger-bg;



/**
 * Hit-area-box
 */
$hit-area-color                 : $text-color !default;
$hit-area-bgcolor               : lighten($gray-light, 12%) !default;
$hit-area-hover-color           : $black !default;
$hit-area-hover-bgcolor         : darken($hit-area-bgcolor, 8%) !default;
$hit-area-checked-color         : $white !default;
$hit-area-checked-bgcolor       : $brand !default;



//== Navbar
//
//##

// Basics of a navbar
    // $navbar-height:                    50px !default;
    // $navbar-margin-bottom:             $line-height-computed !default;
    // $navbar-border-radius:             $border-radius-base !default;
    // $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
    // $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
    // $navbar-collapse-max-height:       340px !default;

    // $navbar-default-color:             $gray !default;
    // $navbar-default-bg:                lighten($gray-lighter, 6%) !default;
    // $navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
    // $navbar-default-link-color:                $gray !default;
    // $navbar-default-link-hover-color:          $gray-dark !default;
    // $navbar-default-link-hover-bg:             transparent !default;
    // $navbar-default-link-active-color:         $brand !default;
    // $navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
    // $navbar-default-link-disabled-color:       #gray-light !default;
    // $navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
    // $navbar-default-brand-color:               $navbar-default-link-color !default;
    // $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
    // $navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
    // $navbar-default-toggle-hover-bg:           $gray-lighter !default;
    // $navbar-default-toggle-icon-bar-bg:        $gray !default;
    // $navbar-default-toggle-border-color:       $gray-lighter !default;


// Inverted navbar
// Reset inverted navbar basics
    // $navbar-inverse-color:                      $gray-light !default;
    // $navbar-inverse-bg:                         $gray-dark !default;
    // $navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
    // $navbar-inverse-link-color:                 $gray-light !default;
    // $navbar-inverse-link-hover-color:           $white !default;
    // $navbar-inverse-link-hover-bg:              transparent !default;
    // $navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
    // $navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
    // $navbar-inverse-link-disabled-color:        lighten($gray-dark,5) !default;
    // $navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
    // $navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
    // $navbar-inverse-brand-hover-color:          $white !default;
    // $navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
    // $navbar-inverse-toggle-hover-bg:            $gray-dark !default;
    // $navbar-inverse-toggle-icon-bar-bg:         $white !default;
    // $navbar-inverse-toggle-border-color:        $gray-dark !default;



/**
 * Navs
 */

//=== Shared nav styles
$nav-link-padding:                          $padding-base-vertical $padding-base-horizontal !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 $white !default;

//== Tabs
$nav-tabs-border-color:                     $gray-lighter !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   $gray-lighter !default;

$nav-tabs-justified-link-border-color:            $gray-lighter !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;



/**
 * Pagination
 */
$pagination-padding-horizontal:   $padding-small-horizontal * 2/3;
$pagination-padding-vertical:     $padding-small-vertical * 2/3;

$pagination-color:                $gray !default;

$pagination-link-color:           $text-color !default;
$pagination-link-bg:              $white !default;
$pagination-link-border:          $input-border !default;

$pagination-link-hover-color:     $link-hover-color !default;
$pagination-link-hover-bg:        rgba($black, .05) !default;
$pagination-link-hover-border:    $pagination-link-border !default;

$pagination-link-active-color:    $white !default;
$pagination-link-active-bg:       $brand !default;
$pagination-link-active-border:   $pagination-link-active-bg !default;

$pagination-link-disabled-color:  $gray-light !default;
$pagination-link-disabled-bg:     $white !default;
$pagination-link-disabled-border: lighten($gray-light, 10%) !default;


//== Pager
//
//##

    // $pager-bg:                             $pagination-bg !default;
    // $pager-border:                         $pagination-border !default;
    // $pager-border-radius:                  15px !default;

    // $pager-hover-bg:                       $pagination-hover-bg !default;

    // $pager-active-bg:                      $pagination-active-bg !default;
    // $pager-active-color:                   $pagination-active-color !default;

    // $pager-disabled-color:                 $pagination-disabled-color !default;


//== Jumbotron
//
//##

    // $jumbotron-padding:              30px !default;
    // $jumbotron-color:                inherit !default;
    // $jumbotron-bg:                   $gray-lighter !default;
    // $jumbotron-heading-color:        inherit !default;
    // $jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;



/**
 * Tooltips
 */
$zindex-tooltip:              layer("popover") !default;

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               $gray-darker !default;
//** Tooltip background color
$tooltip-bg:                  $white !default; //lighten($gray-light, 10) !default;
// $tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;



/**
 * Popovers
 */
$popover-bg-color:                      lighten($nav-aside-item-open-color, 2) !default;
$popover-border-color:                  $btn-default-border !default;// rgba(0,0,0,.2)
$popover-padding:                       6px !default;
$popover-header-bg:                     $white !default;

$popover-arrow-width:                   11px !default;

$popover-button-background-color:       $nav-aside-item-open-color !default;
$popover-button-hover-background-color: $nav-aside-link-hover-background-color !default;
$popover-button-color:                  $nav-aside-link-color !default;

$popover-arrow-offset:                  16px !default;


/**
 * Upload
 */
$upload-border-radius:                $border-radius-base !default;

$upload-background-color:             $white !default;
$upload-hover-background-color:       lighten($brand, 50%) !default;
$upload-border-color:                 $brand-light !default;

$upload-bg-color:                     $nav-aside-item-open-color !default;

$upload-color-success:                $state-success-text !default;
$upload-bg-color-success:             lighten($upload-color-success, 40%) !default;
$upload-color-warning:                $state-warning-text !default;
$upload-bg-color-warning:             lighten($upload-color-warning, 45%) !default;
$upload-color-danger:                 $state-danger-text !default;
$upload-bg-color-danger:              lighten($upload-color-danger, 48%) !default;

$upload-delete-icon-color:            rgba($black, .55) !default;
$upload-delete-icon-hover-color:      rgba($black, .55) !default;
$upload-delete-icon-bg-hover-color:   rgba($black, .05) !default;

//== Labels
//
//##

//** Default label background color
    // $label-default-bg:            $gray-light !default;
//** Primary label background color
    // $label-primary-bg:            $brand-primary !default;
//** Success label background color
    // $label-success-bg:            $brand-success !default;
//** Info label background color
    // $label-info-bg:               $brand-info !default;
//** Warning label background color
    // $label-warning-bg:            $brand-warning !default;
//** Danger label background color
    // $label-danger-bg:             $brand-danger !default;

//** Default label text color
    // $label-color:                 $white !default;
//** Default text color of a linked label
    // $label-link-hover-color:      $white !default;

/**
 * Modals
 */
$modal-inner-padding:         25px !default;
$modal-border-radius:         $border-radius-base !default;
$modal-backdropcolor: 		  rgba(0, 0, 0, .7) !default;
$modal-bgcolor:				  $gray-lighter !default;


//== Modals
//
//##

//** Padding applied to the modal body
    // $modal-inner-padding:         15px !default;

//** Padding applied to the modal title
    // $modal-title-padding:         15px !default;
//** Modal title line-height
    // $modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
    // $modal-content-bg:                             $white !default;
//** Modal content border color
    // $modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
    // $modal-content-fallback-border-color:          lighten($gray, 5) !default;

//** Modal backdrop background color
    // $modal-backdrop-bg:           $black !default;
//** Modal backdrop opacity
    // $modal-backdrop-opacity:      .5 !default;
//** Modal header border color
    // $modal-header-border-color:   $gray-lighter !default;
//** Modal footer border color
    // $modal-footer-border-color:   $modal-header-border-color !default;

    // $modal-lg:                    900px !default;
    // $modal-md:                    600px !default;
    // $modal-sm:                    300px !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

    // $alert-padding:               15px !default;
    // $alert-border-radius:         $border-radius-base !default;
    // $alert-link-font-weight:      bold !default;

    // $alert-success-bg:            $state-success-bg !default;
    // $alert-success-text:          $state-success-text !default;
    // $alert-success-border:        $state-success-border !default;

    // $alert-info-bg:               $state-info-bg !default;
    // $alert-info-text:             $state-info-text !default;
    // $alert-info-border:           $state-info-border !default;

    // $alert-warning-bg:            $state-warning-bg !default;
    // $alert-warning-text:          $state-warning-text !default;
    // $alert-warning-border:        $state-warning-border !default;

    // $alert-danger-bg:             $state-danger-bg !default;
    // $alert-danger-text:           $state-danger-text !default;
    // $alert-danger-border:         $state-danger-border !default;


//== Progress bars
//
//##

//** Background color of the whole progress component
    // $progress-bg:                 lighten($gray-lighter, 6%) !default;
//** Progress bar text color
    // $progress-bar-color:          $white !default;

//** Default progress bar color
    // $progress-bar-bg:             $brand-primary !default;
//** Success progress bar color
    // $progress-bar-success-bg:     $brand-success !default;
//** Warning progress bar color
    // $progress-bar-warning-bg:     $brand-warning !default;
//** Danger progress bar color
    // $progress-bar-danger-bg:      $brand-danger !default;
//** Info progress bar color
    // $progress-bar-info-bg:        $brand-info !default;


//== List group
//
//##

//** Background color on `.list-group-item`
    // $list-group-bg:                 $white !default;
//** `.list-group-item` border color
    // $list-group-border:             $gray-lighter !default;
//** List group border radius
    // $list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
    // $list-group-hover-bg:           lighten($gray-lighter, 6%) !default;
//** Text color of active list items
    // $list-group-active-color:       $component-active-color !default;
//** Background color of active list items
    // $list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
    // $list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
    // $list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

//** Text color of disabled list items
    // $list-group-disabled-color:      $gray-light !default;
//** Background color of disabled list items
    // $list-group-disabled-bg:         $gray-lighter !default;
//** Text color for content within disabled list items
    // $list-group-disabled-text-color: $list-group-disabled-color !default;

    // $list-group-link-color:         lighten($gray-dark, 5) !default;
    // $list-group-link-hover-color:   $list-group-link-color !default;
    // $list-group-link-heading-color: $gray-dark !default;



/**
 * Panels
 */

$panel-bg:                    $white !default;
$panel-body-padding:          $padding-large-horizontal !default;
$panel-heading-padding:       $padding-base-horizontal !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
    // $panel-inner-border:          $gray-lighter !default;
    // $panel-footer-bg:             lighten($gray-lighter, 6%) !default;

$panel-default-text:          $white !default;
$panel-default-border:        $gray-lighter !default;
$panel-default-heading-bg:    lighten($gray-dark, 12) !default;
$panel-default-icon-color:    $gray !default;

$panel-primary-text:          $white !default;
$panel-primary-border:        $brand !default;
$panel-primary-heading-bg:    $brand !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;



/**
 * Interactive table
 */

// heading bg and color are standard the values of tables
//$table-interactive-heading-bg:          $panel-default-heading-bg !default;
//$table-interactive-heading-color:       $panel-default-text !default;
$table-interactive-heading-line:             lighten($table-heading-color, 48%) !default;
$table-interactive-heading-hover-bg:         darken($table-heading-bg, 5%) !default;
$table-interactive-heading-hover-color:      $table-heading-color !default;
$table-interactive-options-selected-bgcolor: lighten($brand, 50%) !default;
$table-interactive-options-hover-bgcolor:    rgba($black, .05) !default;
$table-interactive-options-dropzone-border:  $brand !default;

/**
 * Table alternative heading
 */
$table-alternative-heading-bg:          $panel-default-heading-bg !default;
$table-alternative-heading-color:       $panel-default-text !default;
$table-alternative-heading-line:        darken($panel-default-text, 48%) !default;
$table-alternative-heading-hover-bg:    darken($table-alternative-heading-bg, 5%) !default;
$table-alternative-heading-hover-color: $table-alternative-heading-color !default;

/**
 * Thumbnails
 */

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            $gray-lighter !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

//** Custom text color for thumbnail captions
    // $thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
    // $thumbnail-caption-padding:   9px !default;



//== Wells
//
//##

    // $well-bg:                     lighten($gray-lighter, 6%) !default;
    // $well-border:                 darken($well-bg, 7%) !default;



//== Badges
//
//##

$badge-color:                 $gray-dark !default;
// ** Linked badge text color on hover
$badge-link-hover-color:      $white !default;
$badge-bg:                    $gray-lighter !default;

$badge-padding-vertical:      0 !default;
$badge-padding-horizontal:    5px !default;
$badge-margin-base-left:      $padding-base-horizontal !default;

$badge-margin-lg-left:        $padding-large-horizontal!default;
$badge-margin-sm-left:        $padding-small-horizontal !default;
$badge-margin-xs-left:        $padding-xs-horizontal !default;

// ** Badge text color in active nav link
$badge-active-color:          $link-color !default;
// ** Badge background color in active nav link
$badge-active-bg:             $white !default;
$badge-font-size:             11px !default;
$badge-font-weight:           600 !default;
$badge-line-height:           1.4 !default;
$badge-sm-line-height:        1.2 !default;
$badge-border-radius:         3px !default;

// Alternate badge colors
$badge-default-color:              $badge-color !default;
$badge-default-bg:                 $badge-bg !default;
$badge-default-invert-bg:          $white !default;

$badge-danger-color:               $white !default;
$badge-danger-bg:                  $state-danger-text !default;
$badge-danger-invert-bg:           $white !default;

$badge-info-color:                 $white !default;
$badge-info-bg:                    $state-info-text !default;
$badge-info-invert-bg:             $white !default;

$badge-primary-color:              $white !default;
$badge-primary-bg:                 $brand !default;
$badge-primary-invert-bg:          $white !default;

$badge-success-color:              $white !default;
$badge-success-bg:                 $state-success-text !default;
$badge-success-invert-bg:          $white !default;

$badge-warning-color:              $white !default;
$badge-warning-bg:                 $state-warning-text !default;
$badge-warning-invert-bg:          $white !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   10px !default;
$breadcrumb-padding-horizontal: 0 !default;
$breadcrumb-font-size:          $font-size-base !default;
$breadcrumb-bg:                 transparent !default;
$breadcrumb-color:              $text-color !default;

$breadcrumb-active-font-weight: 600 !default;

$breadcrumb-separator:          "\f054" !default;
$breadcrumb-separator-color:    $gray-light !default;
$breadcrumb-separator-padding:  8px !default;
$breadcrumb-separator-size:     $breadcrumb-font-size * .6 !default;



//== Carousel - yeah, right!
//
//##

    // $carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

    // $carousel-control-color:                      $white !default;
    // $carousel-control-width:                      15% !default;
    // $carousel-control-opacity:                    .5 !default;
    // $carousel-control-font-size:                  20px !default;

    // $carousel-indicator-active-bg:                $white !default;
    // $carousel-indicator-border-color:             $white !default;

    // $carousel-caption-color:                      $white !default;



//== Close
//
//##

    // $close-font-weight:           bold !default;
    // $close-color:                 $black !default;
    // $close-text-shadow:           0 1px 0 $white !default;
