<div class="container">
  <h1>Badge</h1>
  <hr>
    <tink-accordion data-start-open="true">
      <tink-accordion-panel data-heading="Basic accordion">
        Yo yo!
      </tink-accordion-panel>
    </tink-accordion>
    <!-- <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-th-large"></i>
        <h1 class="panel-title">Badge</h1>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <row class="col-xs-12">
              <p><a href="#">Inbox <span class="badge">42</span></a></p>
              <button class="btn btn-primary" type="button">Messages <span class="badge">4</span></button>
            </row>
            <row class="col-xs-12">
              <p><a href="#">Inbox <span class="badge">42</span></a></p>
              <button class="btn-sm btn-primary" type="button">Messages <span class="badge">4</span></button>
            </row>
              <row class="col-xs-12">
              <p><a href="#">Inbox <span class="badge">42</span></a></p>
              <button class="btn-xs btn-primary" type="button">Messages <span class="badge">4</span></button>
            </row>
            <row class="col-xs-12">
              <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="#">Home <span class="badge">16</span></a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages <span class="badge">999</span></a></li>
              </ul>
            </row>
        </div>
      </div>
    </section> -->
</div>
