<div class="container">
  <h1>Breadcrumbs</h1>
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <p>Breadcrumbs in descendant Ordered List.</p>

      <nav role="navigation" class="breadcrumbs" aria-label="breadcrumbs">
        <ol>
          <li>
            <a href="http://tink.digipolis.be" title="Tink">Main</a>

            <ol>
              <li>
                <a href="#" title="Category 1">Category</a>

                <ol>
                  <li>
                    <a href="#" title="Sub category 1">Sub</a>

                    <ol>
                      <li>
                        <a href="#" title="Subsubcat 1.1.3">Subsubcat</a>

                        <ol>
                          <li class="breadcrumbs-item is-current">
                            Active item
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </nav>

    </div>
  </div>

</div>
