<!--

Comments Tom / Jasper:
======================
* form-group + .row class attached anders collapse
* switched glyphicons for fontawesome, dus .fa ipv .glyphicon en evt. andere symbol (bv. fa-info-circle ipv glyphicon-info-sign)
* .container-fluid is gewoon .container in Tink

 -->



<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->



<div id="page-content-wrapper">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="row pagetitle-row">
            <div class="col-xs-12">
              <h1>
                1: Test - thijs
              </h1>
            </div>
          </div>

          div.row


        </div>
      </div>
    </div>
  </div>
</div>
