<div class="container-fluid-max-width">
  <h1>Changelog</h1>
  <hr>

  <div class="ui-timline-container">
    <section class="ui-timeline">

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-caption">
              <span class="btn btn-primary btn-block">Next</span>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">02.12.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-fast-forward"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">TBD</h4>
              <ul class="list-unstyled">
                <li>De verdere roadmap van Tink wordt tegen de volgende release meer uitgeklaard</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-caption">
              <span class="btn btn-primary btn-block">Doing</span>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">25.11.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-spinner"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Styleguide + bug fixing</h4>
              <ul class="list-unstyled">
                <li>Verder implementeren van codevoorbeelden</li>
                <li>Ontbrekende documentatie aanvullen</li>
                <li>Normalisatie code</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-caption">
              <span class="btn btn-primary btn-block">Done</span>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">18.11.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Verdere uitwerking forms </h4>
              <ul class="list-unstyled">
                <li>Verdere uitwerking form elements</li>
                <li>Form validation</li>
                <li>Advanced typography</li>
                <li>Verdere uitwerking documentatie</li>
                <li>Mobiele navigatie</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">12.11.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Cleanup</h4>
              <ul class="list-unstyled">
                <li>Normalisatie code</li>
                <li>Preparing &amp packaging</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">04.11.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Form-elementen</h4>
              <ul class="list-unstyled">
                <li>Eerste uitwerking form elements</li>
                <li>Eerste uitwerking buttons</li>
                <li>Eerste uitwerking responsive media</li>
                <li>Verdere uitwerking helper classes</li>
                <li>Verder uitwerking styleguide</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">24.10.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Documentatie</h4>
              <ul class="list-unstyled">
                <li>Setup documentatie</li>
                <li>Eerste zaken in styleguide</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">17.10.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Basis framework</h4>
              <ul class="list-unstyled">
                <li>Grid-systeem</li>
                <li>Eerste definitie van variables</li>
                <li>Typografie met basisstyling</li>
                <li>Eerste uitwerking tables</li>
                <li>Icons</li>
                <li>Eerste uitwerking helper classes</li>
              </ul>
            </div>
          </div>
        </div>
      </article>


      <article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">03.10.2014</div>
            <div class="tl-icon round-icon sm bg-primary-light"><i class="fa fa-check"></i></div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary">Voorbereiding</h4>
              <ul class="list-unstyled">
                <li>Code standards</li>
                <li>Guidelines</li>
                <li>Best practices</li>
                <li>Accessibility</li>
                <li>Definition of done</li>
              </ul>
            </div>
          </div>
        </div>
      </article>

    </section>
  </div>
</div>