<div class="container">
  <h1>Code</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Code</h1>
    </header>
    <div class="panel-body">
      <h2 class="shame-h2">Inline code</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>
        </div>
        <div class="col-xs-12 col-md-6">
<hljs data-format="html">
<code>Code snippet</code></hljs>
        </div>
      </div>

      <h2 class="shame-h2">Keyboard input code</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Take a break with <kbd>Ctrl</kbd>-<kbd>Cmd</kbd>-<kbd>Power</kbd> (or <kbd>Eject</kbd> if you have an older Mac).</p>
        </div>
        <div class="col-xs-12 col-md-6">
<hljs data-format="html">
<p>Take a break with <kbd>Ctrl</kbd>-<kbd>Cmd</kbd>-<kbd>Power</kbd> (or <kbd>Eject</kbd> if you have an older Mac).</p></hljs>
        </div>
      </div>

      <h2 class="shame-h2">Code blocks</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Use <code>&lt;pre&gt;</code> for a block with multiple lines of code.
          </br>
          Be sure to escape any angle brackets in the code for proper rendering.
<pre>
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
</pre>
</p>
        </div>
        <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
<pre>

  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
</pre>
          </hljs>
        </div>
      </div>

      <h2 class="shame-h2">.pre-scrollable</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Use <code>&lt;pre class=&quot;pre-scrollable&quot;&gt;</code> to set a max-height for a block with multiple lines of code.
          </br>
          Be sure to escape any angle brackets in the code for proper rendering.
<pre class="pre-scrollable">
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
Your code here!
</pre>
</p>
        </div>
        <div class="col-xs-12 col-md-6">
<hljs data-format="html">
<pre class="pre-scrollable">

  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
  Your code here!
</pre></hljs>
        </div>
      </div>

      <h2 class="shame-h2">.pre-wrap</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Use <code>&lt;pre class=&quot;pre-wrap&quot;&gt;</code>to enable horizontal scrolling for longer strings of code.
          </br>
          Be sure to escape any angle brackets in the code for proper rendering.
          </br>
          Feel free to combine <code>.pre-scrollable</code> and <code>.pre-wrap</code>.
          </p>
<pre class="pre-wrap">
Your code here, your code here, your code here, your code here, your code here, your code here, your code here, your code here!
</pre>
        </div>
        <div class="col-xs-12 col-md-6">
<hljs data-format="html">
<pre class="pre-wrap">

  Your code here, your code here, your code here, your code here, your code here, your code here, your code here, your code here!
</pre></hljs>
        </div>

      </div>

      </div>
    </div>
  </section>
</div>
