<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
<input type="text" class="form-control" ng-model="selectedDate" name="date" thinkdatepicker data-fristdate="first" data-lastdate="last">
<input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
<input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
</body>
</html>
