<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="text" class="form-control" ng-model="selectedDate" name="date" tink-datepicker>
<button popover-placement="top" tink-popover="On the Top!" class="btn btn-default">Top</button>
<button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
<button ng-click="clickF()"></button>
<br/><br/>
<h4>Positional</h4>
    <button tink-popover-placement="top" tink-popover="On the Top!" class="btn btn-default">Top</button>
    <button tink-popover-placement="left" tink-popover="On the Left!" class="btn btn-default">Left</button>
    <button tink-popover-placement="right" tink-popover="On the Right!" class="btn btn-default">Right</button>
    <button tink-popover-placement="bottom" tink-popover="On the Bottom!" class="btn btn-default">Bottom</button>

      <p>
      sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
      aliquam. Tincidunt lobortis feugiat vivamus at 
      <a href="#" tooltip-placement="left" tooltip="On the Left!">left</a> eget
      arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
      <a href="#" tooltip-placement="right" tooltip="On the Right!">right</a> 
      nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas 
      <a href="#" tooltip-placement="bottom" tooltip="On the Bottom!">bottom</a> 
      pharetra convallis posuere morbi leo urna, 
      <a href="#" tooltip-animation="false" tooltip="I don't fade. :-(">fading</a>
      at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus
      <a href="#" tooltip-popup-delay='1000' tooltip='appears with delay'>delayed</a> turpis massa tincidunt dui ut.
    </p>

    <p>
      I can even contain HTML. <a href="#" tink-tooltip-html-unsafe="see this has to worn">Check me out!</a>
    </p>

    <form role="form">
      <div class="form-group">
        <label>Or use custom triggers, like focus: </label>
        <input type="text" value="{{tmlTooltip}}" tink-tooltip="See? Now click away..."  tink-tooltip-trigger="focus" tink-tooltip-placement="right" class="form-control" />
      </div>
    </form>
</div>
</body>
</html>
