<div class="container-fluid">
  <h1>Grid</h1>
  <hr>
  <h2 class="shame-h2">Overview</h2>

  <p>Tink includes a responsive, mobile first fluid grid system.<br>
  <p>12 columns are available, degrading to six or less on small screen devices like tablets and smartphones. <br>
  <p>Pre-defined classes are available for easy layouting, prototyping and design in the browser, plus mixins and extends for generating more semantic container names.</p>

  <h3 class="shame-h2">How to apply the grid?</h3>
  <p>Create a page layout with the provided grid and the rows and columns at your disposal. Here's how it works:</p>
  <ul>
    <li>Always start off with a <code>.container</code> or <code>.container-fluid</code> class</li>
    <li>Use rows to create horizontal groups of columns</li>
    <li>Content should be placed within columns, and only columns may be immediate children of rows</li>
    <li>Pre-defined classes like <code>.row</code> and <code>.col-xs-4</code> are available. Find a full list below.</li>
    <li>These grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices. So a <code>.col-md</code>-class will not only affect it's styling on medium devices but also on larger devices if a <code>.col-lg</code>-element is not present. </li>
  </ul>

  <h3 class="shame-h2">Media Queries</h3>
  <p>Media Queries make it possible to target elements within a specific size of viewport. E.g. the title should appear red on a small screen whose width is 320px, green when the screen is 600px or more and blue whenever the screensize is bigger than 1000px.</p>
  <p>So, media queries, make it possible to apply different styles on elements, based on certain conditions.</p>
  <p><code>@media (min-width: @screen-md-min) { ... }</code></p>

  <h3 class="shame-h2">Grid Options</h3>
  <p>See how the grid works and behaves across multiple devices with a handy table.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Extra small devices
            <small>Phones (&lt;768px)</small>
          </th>
          <th>
            Small devices
            <small>Tablets (≥768px)</small>
          </th>
          <th>
            Medium devices
            <small>Desktops (≥992px)</small>
          </th>
          <th>
            Large devices
            <small>Desktops (≥1200px)</small>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-nowrap">Grid behavior</th>
          <td>Horizontal at all times</td>
          <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
        </tr>
        <tr>
          <th class="text-nowrap">Container width</th>
          <td>None (auto)</td>
          <td>750px</td>
          <td>970px</td>
          <td>1170px</td>
        </tr>
        <tr>
          <th class="text-nowrap">Class prefix</th>
          <td><code>.col-xs-</code></td>
          <td><code>.col-sm-</code></td>
          <td><code>.col-md-</code></td>
          <td><code>.col-lg-</code></td>
        </tr>
        <tr>
          <th class="text-nowrap"># of columns</th>
          <td colspan="4">12</td>
        </tr>
        <tr>
          <th class="text-nowrap">Column width</th>
          <td class="text-muted">Auto</td>
          <td>~62px</td>
          <td>~81px</td>
          <td>~97px</td>
        </tr>
        <tr>
          <th class="text-nowrap">Gutter width</th>
          <td colspan="4">30px (15px on each side of a column)</td>
        </tr>
        <tr>
          <th class="text-nowrap">Nestable</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th class="text-nowrap">Offsets</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th class="text-nowrap">Column ordering</th>
          <td colspan="4">Yes</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>
  <h2 class="shame-h1">Examples</h2>
  <br>
  <h3 class="shame-h2">Stacked to horizontal</h3>
  <p>Using one markup, the grid system ensures that the multi-column, designed for desktop screens, folds down to a one-column series of blocks on your smallscreen device. </p>
  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row show-grid">
      <div class="col-md-8">.col-md-8</div>
      <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row show-grid">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">.col-md-6</div>
      <div class="col-md-6">.col-md-6</div>
    </div>
  </div>
  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div></textarea>
  </div>

  <h3 class="shame-h2">Mobile and Desktop</h3>
  <p>There are several extra small and medium device grid classes available by adding <code>.col-xs-*</code> and <code>.col-md-*</code> to your columns. This way you have a more fine grained control on how several containers re-scale between different screens.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
      <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
    <div class="row show-grid">
      <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
    <div class="row show-grid">
      <div class="col-xs-6">.col-xs-6</div>
      <div class="col-xs-6">.col-xs-6</div>
    </div>
  </div>

  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>
<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div></textarea>
  </div>

  <h3 class="shame-h2">Mobile, Tablet and Desktop</h3>
  <p>Extending the previous example even further by adding tablet <code>.col-sm-*</code> classes.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
      <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
  </div>

  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
</div></textarea>
  </div>

  <h3 class="shame-h2">Column Wrapping</h3>
  <p>If more than 12 columns are placed in a row, each group of extra columns will wrap onto a new line.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-xs-9">.col-xs-9</div>
      <div class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
      <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
    </div>
  </div>
  <div>
    <textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<div class="row">
  <div class="col-xs-9">.col-xs-9</div>
  <div class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
  <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
</div></textarea>
  </div>


  <h3 class="shame-h2">Responsive Column Resets</h3>
  <p>With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't quite clear right, or one is taller than the other. Use a combination of <code>.clearfix</code> and responsive utility classes to fix this.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-xs-6 col-sm-3">
        .col-xs-6 .col-sm-3
        <br>
        Resize your viewport or check it out on your phone for an example.
      </div>
      <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
      <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
    </div>
  </div>
  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="row">
  <div class="col-xs-6 col-sm-3">
    .col-xs-6 .col-sm-3
    <br>
    Resize your viewport or check it out on your phone for an example.
  </div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
</div></textarea>
  </div>

  <hr>

  <h2 class="shame-h1">More options</h2>
  <br>
  <h3 class="shame-h2">Offsetting columns</h3>
  <p>With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't quite clear right, or one is taller than the other. Use a combination of <code>.clearfix</code> and responsive utility classes to fix this.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
    </div>
    <div class="row show-grid">
      <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
      <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
    </div>
  </div>

  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
</div></textarea>
  </div>

  <hr>

  <h3 class="shame-h2">Nesting Columns</h3>
  <p>To nest your content, simply use the <code>.row</code>-class again and a set of <code>.col-sm-*</code>-classes. Nested rows should include a set of columns that add up to 12.</p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-sm-9">
        Level 1: .col-sm-9
        <div class="row show-grid">
          <div class="col-xs-8 col-sm-6">
            Level 2: .col-xs-8 .col-sm-6
          </div>
          <div class="col-xs-4 col-sm-6">
            Level 2: .col-xs-4 .col-sm-6
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row show-grid">
      <div class="col-xs-8 col-sm-6">
        Level 2: .col-xs-8 .col-sm-6
      </div>
      <div class="col-xs-4 col-sm-6">
        Level 2: .col-xs-4 .col-sm-6
      </div>
    </div>
  </div>
</div></textarea>
  </div>

  <hr>

  <h3 class="shame-h2">Column Ordering</h3>
  <p>to change the order of columns easily, use the built-in helper classes like <code>.col-md-push-*</code> and <code>.col-md-pull-*</code></p>

  <div class="bs-docs-grid">
    <div class="row show-grid">
      <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
      <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
    </div>
  </div>
  <div>
    <textarea data-select-code="" wrap="off" rows="4" class="selectcode">
<div class="row">
  <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
  <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
</div></textarea>
  </div>

</div>