<div class="container-fluid">
	<h1>Buttons
	<hr>


	<section class="panel">
		<header class="panel-heading">
			<i class="fa fa-th-large"></i>
      <span class="panel-title">Regular buttons</span>
		</header>
		<div class="panel-body">
      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button">Default</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<button type="button">Default</button>
or
<a href="#" class="btn">Default</a>
or
<input type="button" value="Default"></textarea>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-primary">Primary</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="3" class="selectcode">
<button type="button" class="btn-primary">Primary</button>
or
<input type="submit" value="Primary"></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-success">Success</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-success">Success</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-info">Info</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-info">Info</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-warning">Warning</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-warning">Warning</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-danger">Danger</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-danger">Danger</button></textarea>
        </p>
      </div>

    </div>

  </section>

  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Disabled buttons</span>
    </header>
    <div class="panel-body">

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-default" disabled>Disabled default</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-default" disabled>Disabled default</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-primary" disabled>Disabled primary</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-primary" disabled>Disabled primary</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-success" disabled>Disabled success</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-success" disabled>Disabled success</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-info" disabled>Disabled info</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-info" disabled>Disabled info</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-warning" disabled>Disabled warning</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-warning" disabled>Disabled warning</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-danger" disabled>Disabled danger</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-danger" disabled>Disabled danger</button></textarea>
        </p>
      </div>

    </div>
	</section>

	<hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Button sizes</span>
    </header>
    <div class="panel-body">

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-lg">Large button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-lg">Large button</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-sm">Small button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-sm">Small button</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-xs">Extra small button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-xs">Extra small button</button></textarea>
        </p>
      </div>

    </div>
  </section>

  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Alert buttons</span>
    </header>
    <div class="panel-body">

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-success">Success button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-success">Success button</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-info">Info button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-info">Info button</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-warning">Warning button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-warning">Warning button</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-danger">Danger button</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-danger">Danger button</button></textarea>
        </p>
      </div>

    </div>
  </section>

  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Block buttons</span>
    </header>
    <div class="panel-body">

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-default btn-block">Default</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-default btn-block">Default</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-primary btn-block">Primary</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-primary btn-block">Primary</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-success btn-block">Success</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-success btn-block">Success</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-info btn-block">Info</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-info btn-block">Info</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-warning btn-block">Warning</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-warning btn-block">Warning</button></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-3">
          <button type="button" class="btn-danger btn-block">Danger</button>
        </p>
        <p class="col-xs-12 col-md-9">
<textarea data-select-code="" wrap="off" rows="1" class="selectcode">
<button type="button" class="btn-danger btn-block">Danger</button></textarea>
        </p>
      </div>

    </div>

  </section>

</div>
