<div class="container-fluid">
  <h1>Tables</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Basic table</h1>
    </header>
    <div class="panel-body">
      <p>Since some people still use tables as a layout tool, we decided to give tables a default styling already.</p>
      <div class="row">
        <div class="col-xs-12">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th colspan="3">Footer info can be put here</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th colspan="3">Insert footer info here</th>
    </tr>
  </tfoot>
</table></textarea>
      </p>
    </div>
  </div>
</section>

<hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Condensed table</h1>
    </header>
    <div class="panel-body">
      <p>When a little more space is required, you can use <code>.table-condensed</code>.</p>
      <div class="row">
        <div class="col-xs-12">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table class="table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table></textarea>
      </p>
    </div>
  </div>
</section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Striped table</h1>
    </header>
    <div class="panel-body">
      <p>Same example as above, but now with an added <code>.table-striped</code> class which shows in zebra striping in the tbody dept.</p>
      <div class="row">
        <div class="col-xs-12">
          <table class="table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table class="table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table></textarea>
      </p>
    </div>
  </div>
</section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Bordered table</h1>
    </header>
    <div class="panel-body">
      <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
      <div class="row">
        <div class="col-xs-12">
          <table class="table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@TwBootstrap</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table class="table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@TwBootstrap</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table></textarea>
      </p>
    </div>
  </div>
</section>

  <!-- <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Contextual table rows</h1>
    </div>
    <div class="panel-body">
      <p>Add <code>.active</code>, <code>.success</code>, <code>.info</code>, <code>.warning</code> or <code>.danger</code> to rows to give them context.</p>
      <div class="row">
        <div class="col-xs-12">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="success">
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="info">
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr class="warning">
                <td>4</td>
                <td>John</td>
                <td>Appleseed</td>
                <td>@apple</td>
              </tr>
              <tr class="danger">
                <td>5</td>
                <td>Hei</td>
                <td>Sin Kim</td>
                <td>@heisinkim</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr class="success">
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr class="warning">
      <td>4</td>
      <td>John</td>
      <td>Appleseed</td>
      <td>@apple</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Hei</td>
      <td>Sin Kim</td>
      <td>@heisinkim</td>
    </tr>
  </tbody>
</table></textarea>
      </p>
    </div>
  </div> -->

  <hr>

  <h2 class="shame-h1">Combined classes</h2>
  <p>Feel free to combine any of the aforementioned classes: <code>.table-condensed</code>, <code>.table-striped</code> and <code>.table-bordered</code>.</p>

  <hr>

  <h2 class="shame-h1">Responsive Tables</h2>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Basic responsive table</h1>
    </header>
    <div class="panel-body">
      <p>Create a simple responsive table by wrapping any <code>table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you'll not see any differences in these tables.</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Street + Nr</th>
                  <th>Postal Code + City</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Street + Nr</th>
        <th>Postal Code + City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
    </tbody>
  </table>
</div></textarea>
      </p>
    </div>
  </div>
</section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Flip-scroll table</h1>
    </header>
    <div class="panel-body">
      <p>Wrap your tables in <code>.table-flip-scroll</code> and we'll make them mobile friendly by enabling horizontal scrolling for the appropriate screen sizes. The table heading will stay fixed. This type of table should not be used with table footers.</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-flip-scroll">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Street + Nr</th>
                  <th>Postal Code + City</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>John</td>
                  <td>Appleseed</td>
                  <td>@apple</td>
                  <td>Kolonel Silvertoplaan 1</td>
                  <td>2018 Antwerpen</td>
                  <td>Belgium</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="table-flip-scroll">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Street + Nr</th>
        <th>Postal Code + City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>4</td>
        <td>John</td>
        <td>Appleseed</td>
        <td>@apple</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Kolonel Silvertoplaan 1</td>
        <td>2018 Antwerpen</td>
        <td>Belgium</td>
      </tr>
    </tbody>
  </table>
</div></textarea>
      </p>
    </div>
  </div>
</section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">No more table</h1>
    </header>
    <div class="panel-body">
      <p>Use the <code>.table-no-more</code> class and don't forget to put your heading title in the <code>data-title</code> attribute. This type of table should not be used with table footers.</p>
      <div class="row">
        <div class="col-xs-12">
          <table class="table-no-more">
            <thead>
              <tr>
                <th></th>
                <th>Maandag</th>
                <th>Dinsdag</th>
                <th>Woensdag</th>
                <th>Donderdag</th>
                <th>Vrijdag</th>
                <th>Zaterdag</th>
                <th>Zondag</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>VM</th>
                <td data-title="Maandag">8u00 - 12u00</td>
                <td data-title="Dinsdag">8u00 - 12u00</td>
                <td data-title="Woensdag">8u00 - 12u00</td>
                <td data-title="Donderdag">8u00 - 12u00</td>
                <td data-title="Vrijdag">8u00 - 12u00</td>
                <td data-title="Zaterdag">gesloten</td>
                <td data-title="Zondag">gesloten</td>
              </tr>
              <tr>
                <th>NM</th>
                <td data-title="Maandag">13u00 - 17u30</td>
                <td data-title="Dinsdag">13u00 - 17u30</td>
                <td data-title="Woensdag">13u00 - 17u30</td>
                <td data-title="Donderdag">13u00 - 17u30</td>
                <td data-title="Vrijdag">13u00 - 17u30</td>
                <td data-title="Zaterdag">gesloten</td>
                <td data-title="Zondag">gesloten</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="col-xs-12">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<table class="table-no-more">
  <thead>
    <tr>
      <th></th>
      <th>Maandag</th>
      <th>Dinsdag</th>
      <th>Woensdag</th>
      <th>Donderdag</th>
      <th>Vrijdag</th>
      <th>Zaterdag</th>
      <th>Zondag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>VM</th>
      <td data-title="Maandag">8u00 - 12u00</td>
      <td data-title="Dinsdag">8u00 - 12u00</td>
      <td data-title="Woensdag">8u00 - 12u00</td>
      <td data-title="Donderdag">8u00 - 12u00</td>
      <td data-title="Vrijdag">8u00 - 12u00</td>
      <td data-title="Zaterdag">gesloten</td>
      <td data-title="Zondag">gesloten</td>
    </tr>
    <tr>
      <th>NM</th>
      <td data-title="Maandag">13u00 - 17u30</td>
      <td data-title="Dinsdag">13u00 - 17u30</td>
      <td data-title="Woensdag">13u00 - 17u30</td>
      <td data-title="Donderdag">13u00 - 17u30</td>
      <td data-title="Vrijdag">13u00 - 17u30</td>
      <td data-title="Zaterdag">gesloten</td>
      <td data-title="Zondag">gesloten</td>
    </tr>
  </tbody>
</table></textarea>
      </p>
    </div>
  </div>
  </section>
</div>