<div class="container-fluid">
  <h1>Color</h1>
  <hr>

  <div class="row">
    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand">
        <span class="fw-300">Brand</span>
        <br />#347ea6
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand-light">
        <span class="fw-300">Brand Light</span>
        <br />#5fb1d6
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand-success">
        <span class="fw-300">Success</span>
        <br />#4a921f
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand-info">
        <span class="fw-300">Info</span>
        <br />#76b9f4
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand-warning">
        <span class="fw-300">Warning</span>
        <br />#ff8d00
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-brand-danger">
        <span class="fw-300">Danger</span>
        <br />#e60038
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-gray-darker">
        <span class="fw-300">Gray darker</span>
        <br />#141414
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-gray-dark">
        <span class="fw-300">Gray dark</span>
        <br />#333333
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-gray">
        <span class="fw-300">Gray</span>
        <br />#888888
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-gray-light">
        <span class="fw-300">Gray light</span>
        <br />#bbbbbb
      </p>
    </div>

    <div class="col-xs-4 col-sm-3 col-md-2">
      <p class="sg-swatch-m bg-gray-lighter">
        <span class="fw-300">Gray lighter</span>
        <br />#eaeaea
      </p>
    </div>

  </div>

</div>