<div class="container-fluid">
  <h1>Form validation</h1>
  <hr>
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Validation states</h1>
    </header>
    <div class="panel-body">
      <form role="form">
        <div class="row">
          <div class="col-xs-12 col-md-6 form-group has-success">
            <label for="has-success">Success</label>
            <input type="text" id="has-success">
          </div>
          <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="4" class="selectcode">
<div class="form-group has-success">
  <label for="has-success">Success</label>
  <input type="text" id="has-success">
</div></textarea>
          </div>
          <div class="col-xs-12 col-md-6 form-group has-error">
            <label for="has-error">Error</label>
            <input type="text" id="has-error">
          </div>
          <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="4" class="selectcode">
<div class="form-group has-error">
  <label for="has-error">Error</label>
  <input type="text" id="has-error">
</div></textarea>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>