<div class="container-fluid">
  <h1>Widgets &amp; Utilities</h1>
  <hr>

  <p>Section coming soon</p>

  <h2 class="h3">Image Styling</h2>

  <div class="row">
    <div class="col-xs-4">
      <p>rounded</p>
      <img src="http://placehold.it/125x125" class="img-rounded" alt="Rounded Image">

    </div>
    <div class="col-xs-4">
      <p>circular</p>
      <img src="http://placehold.it/125x125" class="img-circle" alt="Circular Image">

    </div>
    <div class="col-xs-4">
      <p>thumbnail</p>
      <img src="http://placehold.it/125x125" class="img-thumbnail" alt="Thumbnail Image">

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-4">
      <p class="text-left">rounded, left floated</p>
      <img src="http://placehold.it/125x125" class="img-rounded floatleft" alt="Rounded Image">

    </div>
    <div class="col-xs-4">
      <p class="text-center">circular, center floated</p>
      <img src="http://placehold.it/125x125" class="img-circle textcenter" alt="Circular Image">


    </div>
    <div class="col-xs-4">
      <p class="text-right">thumbnail, right floated</p>
      <img src="http://placehold.it/125x125" class="img-thumbnail floatright" alt="Thumbnail Image">

    </div>
  </div>

  <hr>

  <h2 class="h3">Utilities &amp; Helper Classes</h2>



</div>