<div class="container-fluid">
  <h1>Media</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Image Styling</h1>
    </header>
    <div class="panel-body">

      <!-- Default -->

      <h3 class="shame-h2">Image styles</h3>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img alt="Placeholder" src="images/helpers/image-placeholder.svg" />
        </p>
        <p class="col-xs-12 col-sm-9 col-md-10">
          <textarea data-select-code="" wrap="off" rows="2" class="selectcode">
<img alt="Placeholder" src="images/helpers/image-placeholder.svg" /></textarea>
        </p>
      </div>


      <!-- Styling -->

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-rounded" alt="Placeholder" src="images/helpers/image-placeholder.svg" />
        </p>
        <p class="col-xs-12 col-sm-9 col-md-10">
          <textarea data-select-code="" wrap="off" rows="2" class="selectcode">
<img class="img-rounded" alt="Placeholder" src="images/helpers/image-placeholder.svg" /></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-circle" alt="Circular Image" src="images/helpers/image-placeholder.svg" />
        </p>
        <p class="col-xs-12 col-sm-9 col-md-10">
          <textarea data-select-code="" wrap="off" rows="2" class="selectcode">
<img class="img-circle" alt="Circular Image" src="images/helpers/image-placeholder.svg" /></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-thumbnail" alt="Placeholder" src="images/helpers/image-placeholder.svg" />
        </p>
        <p class="col-xs-12 col-sm-9 col-md-10">
          <textarea data-select-code="" wrap="off" rows="2" class="selectcode">
<img class="img-thumbnail" alt="Placeholder" src="images/helpers/image-placeholder.svg" /></textarea>
        </p>
      </div>


      <!-- Helpers -->

      <h3 class="shame-h2">Image style helpers</h3>

      <div class="row">
        <p class="col-xs-12 col-md-6">
          <img class="pull-left" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="100" height="100">
        </p>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="3" class="selectcode">
<img class="pull-left" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="100" height="100"></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-6">
          <img class="center-block" alt="Circular Image" src="images/helpers/image-placeholder.svg" width="100" height="100">
        </p>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="3" class="selectcode">
<img class="center-block" alt="Circular Image" src="images/helpers/image-placeholder.svg" width="100" height="100"></textarea>
        </p>
      </div>

      <div class="row">
        <p class="col-xs-12 col-md-6">
          <img class="pull-right" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="100" height="100">
        </p>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="3" class="selectcode">
<img class="pull-right" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="100" height="100"></textarea>
        </p>
      </div>

    </div>
  </section>

  <hr>


  <!-- Media object -->

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Media Object</h1>
    </header>
    <div class="panel-body">

      <p class="lead">Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left- or right-aligned image alongside textual content.</p>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
            </div>
          </div>
        </div>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="media">
  <div class="pull-left">
    <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
  </div>
</div></textarea>
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
              <div class="media">
                <div class="pull-left">
                  <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="10" class="selectcode">
<div class="media">
  <div class="pull-left">
    <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
    <div class="media">
      <div class="pull-left">
        <img class="media-object" alt="Placeholder" src="images/helpers/image-placeholder.svg" width="64" height="64">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Nested media heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
      </div>
    </div>
  </div>
</div></textarea>
        </p>
      </div>

    </div>
  </section>

  <hr>


  <!-- Responsive video -->

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Responsive external videos</h1>
    </header>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="responsive-wrapper">
            <iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/iEIvq5e3nxY" width="853" height="480"></iframe>
          </div>
        </div>
        <p class="col-xs-12 col-md-6">
          <textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<div class="responsive-wrapper">
  <iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/iEIvq5e3nxY" width="853" height="480"></iframe>
</div></textarea>
        </p>
      </div>
    </div>
  </section>

</div>