<div class="container-fluid">

  <h1>Components</h1>
  <hr>
  <p>Tink provides you with a collection of reusable components. <br>This page lists the available components along with code examples on how to use them.
  </p>

  <!-- NAVS -->
  <!-- <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Navigation</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<ul class="nav nav-stacked">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</textarea>
        </div>
      </div>

    </div>

  </section>  --><!-- end navigation panel -->

  <!-- PANELS -->
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Basic Panels</h1>
    </header>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="panel">
            <div class="panel-body">
              Basic panel example, no panel-heading with title
            </div>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="5" class="selectcode">
<section class="panel">
  <div class="panel-body">
    Basic panel example
  </div>
</section></textarea>
        </div>
      </div> <!-- basic panel example -->

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="panel">
            <header class="panel-heading">
              <h1 class="panel-title">Basic Panel with Panel title</h1>
            </header>
            <div class="panel-body">
              Basic Panel content
            </div>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="8" class="selectcode">
<section class="panel">
  <header class="panel-heading">
    <h1 class="panel-title">Basic Panel with Panel title</h1>
  </header>
  <div class="panel-body">
    Basic Panel content
  </div>
</section></textarea>
        </div>
      </div> <!-- default panel example -->

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="panel">
            <header class="panel-heading">
              <h3 class="panel-title">Basic Panel Multiple Tiers</h3>
            </header>
            <div class="panel-body">
              1st Panel Body content
            </div>
            <div class="panel-body">
              2nd Panel Body content
            </div>
            <div class="panel-body">
              3rd Panel Body content
            </div>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="8" class="selectcode">
<section class="panel">
  <header class="panel-heading">
    <h3 class="panel-title">Basic Panel Multiple Tiers</h3>
  </header>
  <div class="panel-body">
    1st Panel Body content
  </div>
  <div class="panel-body">
    2nd Panel Body content
  </div>
  <div class="panel-body">
    3rd Panel Body content
  </div>
</section></textarea>
        </div>
      </div> <!-- basic panel with title example -->

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="panel">
            <div class="panel-body">
              Panel content
            </div>
            <footer class="panel-footer">Panel footer</footer>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
<textarea data-select-code="" wrap="off" rows="8" class="selectcode">
<section class="panel">
  <div class="panel-body">
    Panel content
  </div>
  <footer class="panel-footer">Panel footer</footer>
</section></textarea>
        </div>
      </div> <!-- basic panel with footer example -->

    </div>
  <section> <!-- end PANELS -->



</div>