<div class="container">
  <h1>Modal</h1>
  <hr>
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-th-large"></i>
        <h1 class="panel-title">Modal</h1>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <button tink-modal tink-modal-success="lose" tink-modal-dismiss="ismissed" tink-modal-template="contentTemp.html">Open the modal dialog</button>
            <script type="text/ng-template" id="contentTemp.html">
            dit is loaded content
            <button ng-click="$dismiss('cloes')">dism</button>
            <button ng-click="$close('cloes')">close</button>
            </script>
          </div>
        </div>
      </div>
    </section>
</div>
