<div class="container">
  <h1>Panels </h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <h1 class="panel-title">Panel without icon</h1>
    </header>
    <div class="panel-body">
      body content <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non elit massa. Sed et lectus nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam eleifend tortor diam, blandit porttitor risus tempus quis. In non rhoncus ex. Aenean a facilisis est. Sed eget lacinia dui, quis semper neque.

Mauris pellentesque, metus ut posuere semper, ex purus finibus nulla, in laoreet nisl ex eu ligula. Vestibulum ut luctus nunc, nec pretium enim. Vivamus porta egestas ultrices. Etiam cursus felis eget erat maximus, vitae elementum erat rutrum. Aenean a dui eget est convallis suscipit. Nulla facilisi. Aenean et urna orci. Fusce varius molestie metus. Etiam at vestibulum quam. Nullam egestas lorem ac libero auctor, at pharetra est feugiat. Integer libero neque, molestie sed quam vel, luctus varius orci. Donec pellentesque scelerisque porttitor. Nunc vitae varius nunc. Nulla est elit, elementum in condimentum et, suscipit ac orci. Nulla a rhoncus est.

In a suscipit orci. Etiam et auctor dui. In viverra ex ac aliquam aliquet. Aenean scelerisque lacinia justo vitae rutrum. Aenean dui sapien, laoreet nec convallis non, placerat et lorem. Curabitur orci lacus, feugiat vel fringilla ac, convallis a risus. Pellentesque purus neque, dapibus tempor elit sit amet, lacinia sagittis dui. Praesent blandit sed nisl a dictum. In hac habitasse platea dictumst. Phasellus eros purus, facilisis at ante in, semper sodales erat.
    </div>
  </section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Panel with icon</h1>
    </header>
    <div class="panel-body">
      body content <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non elit massa. Sed et lectus nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam eleifend tortor diam, blandit porttitor risus tempus quis. In non rhoncus ex. Aenean a facilisis est. Sed eget lacinia dui, quis semper neque.

Mauris pellentesque, metus ut posuere semper, ex purus finibus nulla, in laoreet nisl ex eu ligula. Vestibulum ut luctus nunc, nec pretium enim. Vivamus porta egestas ultrices. Etiam cursus felis eget erat maximus, vitae elementum erat rutrum. Aenean a dui eget est convallis suscipit. Nulla facilisi. Aenean et urna orci. Fusce varius molestie metus. Etiam at vestibulum quam. Nullam egestas lorem ac libero auctor, at pharetra est feugiat. Integer libero neque, molestie sed quam vel, luctus varius orci. Donec pellentesque scelerisque porttitor. Nunc vitae varius nunc. Nulla est elit, elementum in condimentum et, suscipit ac orci. Nulla a rhoncus est.

In a suscipit orci. Etiam et auctor dui. In viverra ex ac aliquam aliquet. Aenean scelerisque lacinia justo vitae rutrum. Aenean dui sapien, laoreet nec convallis non, placerat et lorem. Curabitur orci lacus, feugiat vel fringilla ac, convallis a risus. Pellentesque purus neque, dapibus tempor elit sit amet, lacinia sagittis dui. Praesent blandit sed nisl a dictum. In hac habitasse platea dictumst. Phasellus eros purus, facilisis at ante in, semper sodales erat.
    </div>
  </section>

</div>
