<div class="container">
  <h1>Popover</h1>
  <hr>




      <hr/>
      <button popover-placement="top" tink-popover class="" tink-popover-template="templates/popover.html">top</button>

      <hr>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Popover demo</h1>
    </header>
    <div class="panel-body">



    <div class="row">
      <div class="col-md-6">
        <h2 class="h4">LEFT Popover</h2>
        <div class="popover arrow-left-top show">

          <header class="popover-header">
            <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
            <h1 class="popover-header-title">brand spankin new baby</h1>
          </header>

          <!-- <div class="popover-list"> -->
            <ul class="popover-list-buttons">
              <li>
                <a href=""><span>List Item 01</span></a>
              </li>
              <li>
                <a href=""><span>List Item 02</span></a>
              </li>
              <li>
                <a href=""><span>List Item 03</span></a>
              </li>
              <li>
                <a href=""><span>List Item 04</span></a>
              </li>
            </ul>
          <!--  </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="h4">RIGHT Popover</h2>
        <div class="popover arrow-right-bottom show">

          <header class="popover-header">
            <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
            <h1 class="popover-header-title">brand spankin new baby</h1>
          </header>

          <!-- <div class="popover-list"> -->
            <ul class="popover-list-buttons">
              <li>
                <a href=""><span>List Item 01</span></a>
              </li>
              <li>
                <a href=""><span>List Item 02</span></a>
              </li>
              <li>
                <a href=""><span>List Item 03</span></a>
              </li>
              <li>
                <a href=""><span>List Item 04</span></a>
              </li>
            </ul>
          <!--  </div> -->
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="h4">BOTTOM Popover</h2>
        <div class="popover arrow-bottom-left show">

          <header class="popover-header">
            <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
            <h1 class="popover-header-title">brand spankin new baby</h1>
          </header>

          <!-- <div class="popover-list"> -->
            <ul class="popover-list-buttons">
              <li>
                <a href=""><span>List Item 01</span></a>
              </li>
              <li>
                <a href=""><span>List Item 02</span></a>
              </li>
              <li>
                <a href=""><span>List Item 03</span></a>
              </li>
              <li>
                <a href=""><span>List Item 04</span></a>
              </li>
            </ul>
          <!--  </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="h4">TOP Popover</h2>
        <div class="popover arrow-top show">

          <header class="popover-header">
            <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
            <h1 class="popover-header-title">brand spankin new baby</h1>
          </header>

          <!-- <div class="popover-list"> -->
            <ul class="popover-list-buttons">
              <li>
                <a href=""><span>List Item 01</span></a>
              </li>
              <li>
                <a href=""><span>List Item 02</span></a>
              </li>
              <li>
                <a href=""><span>List Item 03</span></a>
              </li>
              <li>
                <a href=""><span>List Item 04</span></a>
              </li>
            </ul>
          <!--  </div> -->
        </div>
      </div>

    </div>





      <hr>


      <h2 class="h4">RIGHT POPOVER</h2>
      <div class="popover arrow-right-top show">
        <header class="popover-header">
          <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
          <h1 class="popover-header-title">brand spankin new baby</h1>
        </header>

        <!-- <div class="popover-list"> -->
          <ul class="popover-list-buttons">
            <li>
              <a href=""><span>List Item 01</span></a>
            </li>
            <li>
              <a href=""><span>List Item 02</span></a>
            </li>
            <li>
              <a href=""><span>List Item 03</span></a>
            </li>
            <li>
              <a href=""><span>List Item 04</span></a>
            </li>
          </ul>
        <!--  </div> -->
      </div>

      <hr>


      <h2 class="h4">LEFT POPOVER</h2>
      <div class="popover arrow-left show">
        <header class="popover-header">
          <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
          <h1 class="popover-header-title">brand spankin new baby</h1>
        </header>

        <!-- <div class="popover-list"> -->
          <ul class="popover-list-buttons">
            <li>
              <a href=""><span>List Item 01</span></a>
            </li>
            <li>
              <a href=""><span>List Item 02</span></a>
            </li>
            <li>
              <a href=""><span>List Item 03</span></a>
            </li>
            <li>
              <a href=""><span>List Item 04</span></a>
            </li>
          </ul>
        <!--  </div> -->
      </div>

      <hr>

      <div class="popover arrow-top-right show">
        <span class="arrow"></span>
        <header class="popover-header">
          <img class="popover-header-avatar img-circle" src="https://pbs.twimg.com/profile_images/1206647652/9b7a61b0-fffc-4e3d-8656-ad52b1491c05_400x400.jpg" alt="Avatar of Tom Hermans">
          <h1 class="popover-header-title">Tom Hermans</h1>
        </header>

        <!-- <div class="popover-list"> -->
          <ul class="popover-list-buttons">
            <li>
              <a href=""><span>List Item 01</span></a>
            </li>
            <li>
              <a href=""><span>List Item 02</span></a>
            </li>
            <li>
              <a href=""><span>List Item 03</span></a>
            </li>
            <li>
              <a href=""><span>List Item 04</span></a>
            </li>
          </ul>
        <!--  </div> -->
      </div>




     <!--  <div class="popover right" style="right: 0; background: orange;display:block !important;">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title" ng-show="title">Some title</h3>
          <div class="popover-content" >Some content</div>
        </div>
      </div> -->


    </div>
  </section>

</div>
