<div class="container">
  <h1>Responsive images</h1>
  <hr>
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-th-large"></i>
        <h1 class="panel-title">Image testing</h1>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">

            <!-- Styling -->

            <div class="row">
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img alt="Placeholder" src="http://placehold.it/300" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-rounded" alt="Placeholder" src="http://placehold.it/300" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-circle" alt="Circular Image" src="http://placehold.it/300" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-thumbnail" alt="Placeholder" src="http://placehold.it/300" />
              </p>
            </div>

            <!-- SVG -->

            <div class="row">
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-rounded" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-circle" alt="Circular Image" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
              <p class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-thumbnail" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
            </div>
        </div>
      </div>
    </section>
    <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Development workflow</h1>
    </header>
    <div class="panel-body">
    <div class="row">
        <p>In the Tink development, we use the following branch name scheme.
        <ul>
          <li><code>feature/feature-name</code></li>
          <li><code>bugfix/bugfix-name</code></li>
        </ul>
        </p>
        <p class="callout">Note that branchnames are written in all lower-case and dashes to avoid conflicts.</p>
        <p>To be sure that we can add your contribution to the Tink framework, please follow the guidelines below.<br />
        The scheme for hotfixes is a little different, but these fixes will be resolved internally.
        </p>
        <p class="callout">Be sure to follow the code guidelines mentioned on these pages if u want a greater chance for your pull request to be approved.</p>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="http://tink.digipolis.be/images/helpers/tink-dev-workflow.fe8397a4.svg" alt="Tink Development workflow" />
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <ol>
           <li>Create a new branch (feature or bugfix) from the <code>development</code> branch.</li>
           <li>Commit and develop on the new branch because direct commits on the <code>development</code> branch are not allowed.</li>
           <li>Always merge the <code>development</code> branch in your branch before issuing a pull request.</li>
           <li>After your feature is tested locally, issue a pull request so we can merge it in the <code>development</code> branch.</li>
        </div>
       </div>
    </div>
  </section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Image Styling</h1>
    </header>
    <div class="panel-body">

      <!-- Default -->

      <h3 class="shame-h2">Image styles</h3>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
        </p>
        <div class="col-xs-12 col-sm-9 col-md-10">
          Nisl lectus con. Tincidunt orci nec. Ipsum condimentum ipsum. Potenti integer aliquet. Vel in nulla. Quis at augue. Sit dui pulvinar. Tenetur amet rhoncus mattis aliquet vel. Fringilla mauris justo. Velit tortor a. Et nisl ante in cras nec morbi massa eget. Ipsum ante erat ut sed dolor a aenean nec risus et sit etiam justo lacus sociis lorem vel
        </div>
      </div>


      <!-- Styling -->

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-rounded" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
        </p>
        <div class="col-xs-12 col-sm-9 col-md-10">
          Nisl lectus con. Tincidunt orci nec. Ipsum condimentum ipsum. Potenti integer aliquet. Vel in nulla. Quis at augue. Sit dui pulvinar. Tenetur amet rhoncus mattis aliquet vel. Fringilla mauris justo. Velit tortor a. Et nisl ante in cras nec morbi massa eget. Ipsum ante erat ut sed dolor a aenean nec risus et sit etiam justo lacus sociis lorem vel
        </div>
      </div>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-circle" alt="Circular Image" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
        </p>
        <div class="col-xs-12 col-sm-9 col-md-10">
          Nisl lectus con. Tincidunt orci nec. Ipsum condimentum ipsum. Potenti integer aliquet. Vel in nulla. Quis at augue. Sit dui pulvinar. Tenetur amet rhoncus mattis aliquet vel. Fringilla mauris justo. Velit tortor a. Et nisl ante in cras nec morbi massa eget. Ipsum ante erat ut sed dolor a aenean nec risus et sit etiam justo lacus sociis lorem vel
        </div>
      </div>

      <div class="row">
        <p class="col-xs-4 col-sm-3 col-md-2">
          <img class="img-thumbnail" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
        </p>
        <div class="col-xs-12 col-sm-9 col-md-10">
          Nisl lectus con. Tincidunt orci nec. Ipsum condimentum ipsum. Potenti integer aliquet. Vel in nulla. Quis at augue. Sit dui pulvinar. Tenetur amet rhoncus mattis aliquet vel. Fringilla mauris justo. Velit tortor a. Et nisl ante in cras nec morbi massa eget. Ipsum ante erat ut sed dolor a aenean nec risus et sit etiam justo lacus sociis lorem vel
        </div>
      </div>


      <!-- Helpers -->

      <h3 class="shame-h2">Image style helpers</h3>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img class="pull-left" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:100px;">
        </div>
        <div class="col-xs-12 col-md-6">
          Pull left
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img class="center-block" alt="Circular Image" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:100px;">
        </div>
        <div class="col-xs-12 col-md-6">
          Put center
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img class="pull-right" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:100px;">
        </div>
        <div class="col-xs-12 col-md-6">
          Pull right
        </div>
      </div>

    </div>
  </section>

  <hr>


  <!-- Media object -->

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Media Object</h1>
    </header>
    <div class="panel-body">

      <p class="lead">Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left- or right-aligned image alongside textual content.</p>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:64px;">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          Media heading with a pull left
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:64px;">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
              <div class="media">
                <div class="pull-left">
                  <img class="media-object" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" style="width:64px;">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          Media heading with a pull left and a nested media heading inside
        </div>
      </div>

    </div>
  </section>

  <hr>

  <!-- Responsive video -->
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Responsive wrapper</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p class="lead">A responsive wrapper for video or other content so it behaves fluid and responsive towards various viewport sizes. Resize your browser to see it in action.</p>
          <div class="responsive-wrapper">
            <iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/0uaquGZKx_0" width="853" height="480"></iframe>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <!-- Highlight JS doesn't work with <iframe>. the code is shown, but the other iframe dissapears. -->
          Nisl lectus con. Tincidunt orci nec. Ipsum condimentum ipsum. Potenti integer aliquet. Vel in nulla. Quis at augue. Sit dui pulvinar. Tenetur amet rhoncus mattis aliquet vel. Fringilla mauris justo. Velit tortor a. Et nisl ante in cras nec morbi massa eget. Ipsum ante erat ut sed dolor a aenean nec risus et sit etiam justo lacus sociis lorem vel
        </div>
      </div>
    </div>
  </section>
</div>
