<div class="container">
  <h1>Responsive images</h1>
  <hr>
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-th-large"></i>
        <h1 class="panel-title">Image testing</h1>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">

            <!-- Styling -->

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img alt="Placeholder" src="http://placehold.it/300" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-rounded" alt="Placeholder" src="http://placehold.it/300" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-circle" alt="Circular Image" src="http://placehold.it/300" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-thumbnail" alt="Placeholder" src="http://placehold.it/300" />
              </p>
            </div>

            <!-- SVG -->

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-rounded" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-circle" alt="Circular Image" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
            </div>

            <div class="row">
              <p class="col-xs-4 col-sm-3 col-md-2">
                <img class="img-thumbnail" alt="Placeholder" src="http://tink.digipolis.be/images/helpers/image-placeholder.bab924cf.svg" />
              </p>
            </div>
        </div>
      </div>
    </section>
    <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Development workflow</h1>
    </header>
    <div class="panel-body">
    <div class="row">
        <p>In the Tink development, we use the following branch name scheme.
        <ul>
          <li><code>feature/feature-name</code></li>
          <li><code>bugfix/bugfix-name</code></li>
        </ul>
        </p>
        <p class="callout">Note that branchnames are written in all lower-case and dashes to avoid conflicts.</p>
        <p>To be sure that we can add your contribution to the Tink framework, please follow the guidelines below.<br />
        The scheme for hotfixes is a little different, but these fixes will be resolved internally.
        </p>
        <p class="callout">Be sure to follow the code guidelines mentioned on these pages if u want a greater chance for your pull request to be approved.</p>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img src="http://tink.digipolis.be/images/helpers/tink-dev-workflow.fe8397a4.svg" alt="Tink Development workflow" />
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <ol>
           <li>Create a new branch (feature or bugfix) from the <code>development</code> branch.</li>
           <li>Commit and develop on the new branch because direct commits on the <code>development</code> branch are not allowed.</li>
           <li>Always merge the <code>development</code> branch in your branch before issuing a pull request.</li>
           <li>After your feature is tested locally, issue a pull request so we can merge it in the <code>development</code> branch.</li>
        </div>
       </div>
    </div>
  </section>
</div>
