<div class="container-fluid">
  <h1>Form validation</h1>
  <h2 class="h3">Basic Example</h2>
  <p>All form elements automatically receive global styling. Some can be modified with extra classes. </p>
  <div class="bs-example">
    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <span class="help-inline">Something may have gone wrong</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <span class="help-inline">Something may have gone wrong</span>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <div class="zero-clipboard"><span class="btn-clipboard with-example">Copy</span></div>
  <div class="highlight">
    <pre>
      <code class="html">
        <span class="nt">&lt;form</span> <span class="na">role=</span><span class="s">"form"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"exampleInputEmail1"</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exampleInputEmail1"</span> <span class="na">placeholder=</span><span class="s">"Enter email"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"exampleInputPassword1"</span><span class="nt">&gt;</span>Password<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"password"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exampleInputPassword1"</span> <span class="na">placeholder=</span><span class="s">"Password"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"exampleInputFile"</span><span class="nt">&gt;</span>File input<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"file"</span> <span class="na">id=</span><span class="s">"exampleInputFile"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"help-block"</span><span class="nt">&gt;</span>Example block-level help text here.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span> Check me out
          <span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Submit<span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;/form&gt;</span>
      </code>
    </pre>
  </div>

  <hr>

  <h2 class="h3">Basic form with error handling</h2>

  <div class="form-group has-success has-feedback">
    <label class="control-label" for="inputSuccess1">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess1">
  </div>
  <div class="form-group has-warning">
    <label class="control-label" for="inputWarning1">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning1">
  </div>
  <div class="form-group has-error">
    <label class="control-label" for="inputError1">Input with error</label>
    <input type="text" class="form-control" id="inputError1">
  </div>

  <div class="has-error">
    <div class="checkbox">
      <input type="checkbox" id="checkbox20" name="checkbox20" value="" checked="">
      <label for="checkbox20">Option one is this and that&mdash;be sure to include why it's great</label>
    </div>
  </div>

  <div class="has-success">
    <div class="radio">
      <input type="radio" id="radio11" name="radio2" value="" checked>
      <label for="radio11">Option one is this and that&mdash;be sure to include why it's great</label>
    </div>

    <div class="radio">
      <input type="radio" id="radio12" name="radio2" value="">
      <label for="radio12">Option two can be something else and selecting it will deselect option one</label>
    </div>
  </div>

  <div class="form-group has-error">
    <label for="input-email">E-mail with error message (form-group and has-error on div container)</label>
    <input type="email" id="input-email" placeholder="input[type=&quot;email&quot;]">
    <div class="help-block with-errors">Some error message</div>
  </div>




  <h1>Buttons</h1>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Buttons</strong></div>
    <div class="panel-body">
      <h4 class="shame-h1">Buttons Styles</h4>
      <dl class="dl-horizontal">
        <dt>Lined version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-default">Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-primary">Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-success">Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-info">Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-warning">Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-danger">Danger</button>
        </dd>

        <div class="divider"></div>
        <dt>Filled-in version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-default">Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-primary">Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-success">Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-info">Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-warning">Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-danger">Danger</button>
          <!-- <button type="button" class="btn btn-w-md btn-gap-v btn-inverse">Inverse</button> -->
        </dd>

<!--                 <div class="divider"></div>
        <dt>Rounded version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-default">Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-primary">Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success">Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-info">Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-warning">Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger">Danger</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-inverse">Inverse</button>
        </dd> -->
      </dl>

      <h4 class="shame-h1">Disabled Buttons</h4>
      <dl class="dl-horizontal">
        <dt>Lined version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-default" disabled>Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-primary" disabled>Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-success" disabled>Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-info" disabled>Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-warning" disabled>Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-line-danger" disabled>Danger</button>
        </dd>

        <div class="divider"></div>
        <dt>Filled-in version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-default" disabled>Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-primary" disabled>Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-success" disabled>Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-info" disabled>Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-warning" disabled>Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-danger" disabled>Danger</button>
          <!-- <button type="button" class="btn btn-w-md btn-gap-v btn-inverse" disabled>Inverse</button> -->
        </dd>

<!--                 <div class="divider"></div>
        <dt>Rounded version</dt>
        <dd>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-default" disabled>Default</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-primary" disabled>Primary</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" disabled>Success</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-info" disabled>Info</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-warning" disabled>Warning</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" disabled>Danger</button>
          <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-inverse" disabled>Inverse</button>
        </dd> -->
      </dl>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="shame-h1">Button Sizes</h4>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Filled-in version</dt>
        <dd>
          <button type="button" class="btn btn-primary btn-lg">Large button</button>
          <button type="button" class="btn btn-primary">Default button</button>
          <button type="button" class="btn btn-primary btn-sm">Small button</button>
          <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
        </dd>
        <div class="divider"></div>
        <dt>Lined version</dt>
        <dd>
          <button type="button" class="btn btn-default btn-lg">Large button</button>
          <button type="button" class="btn btn-default">Default button</button>
          <button type="button" class="btn btn-default btn-sm">Small button</button>
          <button type="button" class="btn btn-default btn-xs">Extra small button</button>
        </dd>
        <div class="divider"></div>
        <dt>Alert Buttons</dt>
        <dd>
          <button type="button" class="btn btn-success btn-lg">Large button</button>
          <button type="button" class="btn btn-info">Default button</button>
          <button type="button" class="btn btn-warning btn-sm">Small button</button>
          <button type="button" class="btn btn-danger btn-xs">Extra small button</button>
        </dd>
      </dl>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Block buttons</strong>
    </div>
    <div class="panel-body">
      <button type="button" class="btn btn-default btn-block">Default</button>
      <button type="button" class="btn btn-primary btn-block">Primary</button>
      <button type="button" class="btn btn-success btn-block">Success</button>
      <button type="button" class="btn btn-info btn-block">Info</button>
      <button type="button" class="btn btn-warning btn-block">Warning</button>
      <button type="button" class="btn btn-danger btn-block">Danger</button>
      <button type="button" class="btn btn-inverse btn-block">Inverse</button>
    </div>
  </div>




  <div ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <span class="dropdown" on-toggle="toggled(open)">
      <a href class="dropdown-toggle">
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>

    <div style="background: yellow">
      <input type="checkbox" ng-model="value" ng-change="toggled()" />
      <textarea data-select-code="" wrap="off" name="" id="" cols="30" rows="10" class="selectcode">
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </textarea>
    </div>

    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <hr />
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>
  </div>


  <hr style="padding-bottom: 120px;">
</div>