<aside>
  <div class="nav-aside-section">
    <ul>
      <li>
        <a href="#/" title="">
          <span>F.A.Q.</span>
        </a>
      </li>
      <li>
        <a href="#/" title="">
          <span>Getting started</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Documentation</p>
    <ul>
      <li>
        <a href="javascript:void(0);" title="">
          <span>Styling</span>
        </a>
        <ul>
          <li>
            <a href="#/forms" title="">
              <!-- <i class="fa fa-fw fa-edit"></i> -->
              <span>Forms</span>
            </a>
          </li>
          <li>
            <a href="#/callouts" title="">
              <!-- <i class="fa fa-fw fa-twitch"></i> -->
              <span>Callouts</span>
              <span class="badge">1</span>
            </a>
          </li>
          <li>
            <a href="#/code" title="">
              <!-- <i class="fa fa-fw fa-code"></i> -->
              <span>Code</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" title="">
          <!-- <i class="fa fa-fw fa-recycle"></i> -->
          <span>Deprecated</span>
          <span class="badge">1</span>
        </a>
        <ul>
          <li>
            <a href="#/work-agile-tool">
              <span>Work Agile Tool</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Guidelines</p>
    <ul>
      <li>
        <a href="#/" title="">
          <span>Code guidelines</span>
        </a>
      </li>
      <li>
        <a href="#/" title="">
          <span>UX guidelines</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-aside-section">
    <ul>
      <li>
        <a href="#/" title="">
          <span>Changelog</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
