<aside>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Choose a playground</p>
    <ul>
      <li>
        <a href="javascript:void(0);" title="">
          <span>Styling</span>
        </a>
        <ul>
          <li>
            <a href="#/typography" title="">
              <i class="fa fa-fw fa-font"></i>
              <span>Typography</span>
            </a>
          </li>
          <li>
            <a href="#/forms" title="">
              <i class="fa fa-fw fa-edit"></i>
              <span>Forms</span>
            </a>
          </li>
          <li>
            <a href="#/callouts" title="">
              <i class="fa fa-fw fa-twitch"></i>
              <span>Callouts</span>
              <span class="badge">1</span>
            </a>
          </li>
          <li>
            <a href="#/code" title="">
              <i class="fa fa-fw fa-code"></i>
              <span>Code</span>
            </a>
          </li>
          <li>
            <a href="#/popover" title="">
              <i class="fa fa-fw fa-caret-square-o-down"></i>
              <span>Popover</span>
            </a>
          </li>
          <li>
            <a href="#/panels" title="">
              <i class="fa fa-fw fa-th-large"></i>
              <span>Panels</span>
            </a>
          </li>
          <li>
            <a href="#/datepicker" title="">
              <i class="fa fa-fw fa-calendar"></i>
              <span>Datepicker</span>
            </a>
          </li>
          <li>
            <a href="#/checkbox" title="">
              <i class="fa fa-fw fa-calendar"></i>
              <span>Checkbox</span>
              <span class="badge-danger">1</span>
            </a>
          </li>
          <li>
            <a href="#/interactive-table" title="">
              <i class="fa fa-fw fa-table"></i>
              <span>Interactive table</span>
            </a>
          </li>
          <li>
            <a href="#/upload" title="">
              <i class="fa fa-fw fa-cloud-upload"></i>
              <span>Upload</span>
            </a>
          </li>
          <li>
            <a href="#/modal" title="">
              <i class="fa fa-fw fa-heart"></i>
              <span>Modal</span>
            </a>
          </li>
          <li>
            <a href="#/breadcrumbs" title="">
              <i class="fa fa-fw fa-terminal"></i>
              <span>Breadcrumbs</span>
            </a>
          </li>
          <li>
            <a href="#/back-to-top" title="">
              <i class="fa fa-fw fa-fast-backward"></i>
              <span>Back to top</span>
            </a>
          </li>
          <li>
            <a href="#/badge" title="">
              <i class="fa fa-fw fa-square-o"></i>
              <span>Badge</span>
            </a>
          </li>
          <li>
            <a href="#/accordion" title="">
              <i class="fa fa-fw fa-bars"></i>
              <span>Accordion</span>
            </a>
          </li>
          <li>
            <a href="#/responsive-images" title="">
              <i class="fa fa-fw fa-file-picture-o"></i>
              <span>Responsive images</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" title="">
          <span>Deprecated</span>
          <span class="badge">1</span>
        </a>
        <ul>
          <li>
            <a href="#/work-agile-tool">
              <i class="fa fa-fw fa-recycle"></i>
              <span>Work Agile Tool</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#/grid" title="">
          <span>Test grid</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
