<aside>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Choose a playground</p>
    <ul>
      <li>
        <a href="javascript:void(0);" title="">
          <span>Styling</span>
        </a>
        <ul>
          <li>
            <a href="#/forms" title="">
              <i class="fa fa-fw fa-edit"></i>
              <span>Forms</span>
            </a>
          </li>
          <li>
            <a href="#/callouts" title="">
              <i class="fa fa-fw fa-twitch"></i>
              <span>Callouts</span>
              <span class="badge">1</span>
            </a>
          </li>
          <li>
            <a href="#/code" title="">
              <i class="fa fa-fw fa-code"></i>
              <span>Code</span>
            </a>
          </li>
          <li>
            <a href="#/panels" title="">
              <i class="fa fa-fw fa-code"></i>
              <span>Panels</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" title="">
          <span>Deprecated</span>
          <span class="badge">1</span>
        </a>
        <ul>
          <li>
            <a href="#/work-agile-tool">
              <i class="fa fa-fw fa-recycle"></i>
              <span>Work Agile Tool</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#/callouts" title="">
          <span>test single</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
