<div class="container">
  <h1>Interactive table</h1>
  <hr>
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-th-large"></i>
        <h1 class="panel-title">Interactive table</h1>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <tink-sortable-table data="data" actions="actions" items-per-page='pages'></tink-sortable-table>
          </div>
        </div>
      </div>
    </section>
</div>
