<div class="container-fluid-max-width">
  <!-- <div class="row"> -->

    <div class="section1">

      <h1 class="shame-h1">Tinker away</h1>
      <!-- <img src="images/tink/tink_logo_rgb.svg" alt="tink logo" class="pull-right" width="300"> -->
      <h1 class="page-header">Getting Started</h1>
      <p class="lead">Tink is setup as an easy-to-use front-end framework / design system for quick prototyping and simple deployment of all kinds of websites and apps, keeping a uniform and consistent look and feel.</p>

    </div>

    <div class="section2">
      <div class="row">
        <div class="col-sm-4">
          <h3 id="download-tink">Tink</h3>
          <p>Compiled and minified CSS<!-- , JavaScript, and fonts. Docs and style guide files are --> included.</p>
          <p>
            <a href="/releases/tink-0.3.2.zip" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-download"></i> Download Tink <small>(v<!--@@-->0.3.2<!--@-->)</small></a>
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="section3">
      <div class="row">
        <div class="col-md-6">
          <h2 class="page-header">What's included</h2>
          <p class="lead">Tink provides you with:</p>
          <ul>
            <li>Basic pre-compiled styling of web components and HTML elements</li>
            <li>Uniform use of typography and brand colors</li>
            <li>List of all components, explanation, useage and demo (online)</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2 class="page-header">What's coming?</h2>
          <p class="lead">Tink will provide you with:</p>
          <ul>
            <li>More components</li>
            <li>Functional behaviour (e.g. datepicker, form validation etc)</li>
            <li>Use guides and examples</li>
          </ul>
        </div>
      </div>

      <h3>Tink, why?</h3>
      <p>To have a good, future-ready responsive framework that fits the specific purpose of the apps we're building at Digipolis. <br>And to have a uniform way of visualising stuff and behaviours throughout various apps.</p>

      <h3>Tink, how?</h3>
      <h4>Learning from experience</h4>
      <p>We set it up as a front-end framework with a lot of good coding practices, our UX principles, visual stying and with taking note of other. more generalistic platforms out there. That means for instance, for a lot of syntax, we piggy-back on the well-known bootstrap template language. So people can get up and running pretty quick without having to learn a complete different syntax. </p>

      <h4>Building on future experience</h4>
      <p>More components will be added in future versions, and also, modules that get built for one project, will be added to the framework library later. Hence creating a more powerful toolkit which will speed up development work.</p>

      <h4>Atomic approach</h4>
      <p>Tink is being built with the ideas of Atomic Design in mind, where each single HTML element symbolizes an atom, be it a form input, a button or a heading. An atom, a building block. Not really useful by themselves, but when we combine them with other atoms they become more useful.
      A form input together with a label, a helper text and a button can be seen as a molecule, which can serve as a newsletter signup block. These molecules serve as bigger building blocks or modules which can be easily replicated and together form an organism, a page layout, an interface.</p>

    </div>

    <hr>
    <div class="section3">
      <h1 class="page-header">Basic Example</h1>
      <p class="lead">
        Start with this basic HTML template, and extend with the modules handed to you.</p>
      <p>Copy the HTML below to begin working with a minimal Tink document.</p>

      <div>
        <textarea data-select-code="" wrap="off" name="" id="" cols="30" rows="15" class="selectcode">
<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="css/tink-0.3.2.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple website or app based on the TINK framework. It includes a large header like this and a few containers and buttons. Use it as a starting point to create something way more unique.</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Second Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">Get Started Now »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Another Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">Get Started »</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>© Tink 2014</p>
      </footer>
    </div>
  </body>
</html></textarea>
      </div>

      <p>This will present you with something similar to this:</p>
      <div style="border: 2px solid #dbebf4">
        <div class="container-fluid">
          <h1>Hello, world!</h1>
          <p>This is a template for a simple website or app based on the TINK framework. It includes a large header like this and a few containers and buttons. Use it as a starting point to create something way more unique.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
        </div>

        <div class="container-fluid">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
              <h2>Second Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">Get Started Now »</a></p>
           </div>
            <div class="col-md-4">
              <h2>Another Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">Get Started »</a></p>
            </div>
          </div>
          <hr>
          <footer>
            <p>© Tink 2014</p>
          </footer>

        </div>
      </div>

    <hr>
    <!-- Added urls -->
    <div class="section4">
      <h1 class="page-header">Accessibility WAI-ARIA</h1>
      <p class="lead">Tink framework cares for accessibility, and tries as best as possible to comply with the <a href="http://www.w3.org/WAI/WCAG20/glance/" title="WCAG 2 at a Glance" target="_blank" rel="external">WCAG 2.0 accessibility guidelines</a>. That's why we focused on the inclusion of the necessary <a href="http://www.w3.org/WAI/intro/aria.php" title="WAI-ARIA Overview" target="_blank" rel="external">WAI-ARIA</a> role elements, properties and states and relationships of elements. ARIA gives you the ability to augment the perceived meaning and semantics of your HTML. First of all, to improve the information provided to assistive technology like screen readers and second, to enhance useage in an accessible way.</p>
    </div>

<!--     <div class="section4">
      <h1 class="page-header">What is Tink and what is it not</h1>
      <p class="lead">Tink framework cares for accessibility, and tries as best as possible to comply with the WCAG 2.0 accessibility guidelines. That's why we focused on the inclusion of the necessary WAI-ARIA role elements, properties and states and relationships of elements. ARIA gives you the ability to augment the perceived meaning and semantics of your HTML. One, to improve the information provided to assistive technology like screen readers and second, to enhance useage in an accessible way.</p>

    </div> -->

  </div>
</div>
