<ul class="nav-top-branding">
  <li class="logo">
    <a href="#" title=""><img src="images/playground/tink-logo.svg" alt="" /></a>
  </li>
  <li class="toggle" data-tink-sidenav-collapse="firstSide">
    <a href="#" title="Open menu"><i class="fa fa-bars"><span class="sr-only">Open menu</span></i></a>
  </li>
  <li class="app">
    <h1><a href="#">My App</a></h1>
  </li>
</ul>

<section class="nav-top-section">
  <ul class="nav-top-section-left">
    <li>
      <a href="#" class="link">Menu L1</a>
    </li>
  </ul>

  <div class="nav-top-section-center">
    <input type="search" class="input-search" placeholder="Zoeken" />
  </div>

  <ul class="nav-top-section-right">
    <li class="active">
      <a href="#" class="btn-primary btn-xs">Menu R1</a>
    </li>
    <li>
      <a href="#" class="btn btn-xs">Menu R2</a>
    </li>
  </ul>
</section>
