<div class="container">
  <h1>Typography</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Design is how it works</h1>
    </header>
    <div class="panel-body">
      <h3>Typography misc</h3>
      <p>Text level <abbr title="HyperText Markup Language">HTML</abbr> elements may be used within other elements.<br> They include: <br> <em>em</em> and <strong>strong</strong> for semantic emphasis, <br> <i>i</i> and <b>b</b> for presentational formatting, <br> <abbr title="Abbreviation">abbr</abbr> abbreviations, <cite>cite</cite> citations, <code>code</code> example, <del>del</del>, <ins>ins</ins> for visibly deleted and inserted content, <dfn>dfn</dfn> definitions, <mark>mark</mark> for highlighted passages and <sup>sup</sup> superscript and <sub>sub</sub> subscript.</p>

      <h3>Lists</h3>
      <ul>
        <li>One list</li>
        <li>Two list</li>
        <li>
          Three list:
          <ul>
            <li>One list</li>
            <li>Two list</li>
            <li>
              Three list:
              <ul>
                <li>One list</li>
                <li>Two list</li>
                <li>Three list</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </section>
</div>
