<div class="container">
  <h1>Upload</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Drag and drop</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div type="file" data-send-options="extraOptions" data-multiple="true" data-allowed-types="valid" edit-mode="true" tink-upload ng-model="file" show-uploaded-files="true"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="popover arrow-left-top show">
    <header class="popover-header">
      <img class="popover-header-avatar img-circle" src="http://img5.visualizeus.com/thumbs/3f/be/black,and,white,daria,werbowy,fashion,model,photograph,favorites-3fbea166708197bba7506af580bb6046_h.jpg" alt="">
      <h1 class="popover-header-title">brand spankin new baby</h1>
    </header>
    <ul class="popover-list-buttons">
      <li>
        <a href=""><span>List Item 01</span></a>
      </li>
      <li>
        <a href=""><span>List Item 02</span></a>
      </li>
      <li>
        <a href=""><span>List Item 03</span></a>
      </li>
      <li>
        <a href=""><span>List Item 04</span></a>
      </li>
    </ul>
  </div>
</div>