/**
 * Bar component
 */

@mixin bar($height: $bar-height, $bg-color: $bar-bg-color, $color: $bar-color, $link-color: $bar-link-color, $link-hover-color: $bar-link-hover-color, $padding: $bar-padding) {
  background-color: $bg-color;
  color: $color;
  height: rem($height);
  line-height: rem($height - 1px);

  > ul,
  &-section-left,
  &-section-right {
    @extend .list-inline;
    margin: 0;

    li {
      padding: 0;
    }

    a {
      border: none;
      outline: 0;
      text-decoration: none;
      display: inline-block;

      &:focus {
        box-shadow: 0 0 0 2px rgba($brand-light, .5);
      }

      &:not([role="button"]) {
        color: $link-color;
        line-height: rem($height - $padding);
        margin: rem(($padding / 2) 0 ($padding / 2));
        padding: rem(0 $padding);

        &:hover,
        &:active,
        &:focus {
          color: $link-hover-color;
        }
      }

      &[role="button"] {
        margin: rem(($padding / 3) 0 ($padding / 2));
      }
      &.btn-xs {
        @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
      }
    }
  }

  &-section {
    position: relative;
    text-align: center;
    width: auto;

    &-left {
      float: left;
      margin-left: rem($padding / 2);
    }

    &-center {
      display: inline-block;

      input[type="search"] {
        display: inline-block;
        width: auto;
      }
    }

    &-right {
      float: right;
      margin-right: rem($padding / 2);
    }
  }
}