/**
 * Bar component
 */
@mixin bar($height: $bar-height, $bg-color: $bar-bg-color, $color: $bar-color, $link-color: $bar-link-color, $link-hover-color: $bar-link-hover-color, $link-bg-hover-color: $bar-link-bg-hover-color, $padding: $bar-padding) {
  @include clearfix();
  background-color: $bg-color;
  color: $color;
  line-height: rem($height);
  position: relative;

  a.btn,
  a.btn-primary,
  button,
  input {
    margin-top: rem(-3);
  }

  .link {
    color: $link-color;
    border-radius: $border-radius-base * 2;
    height: 100%;
    line-height: rem($height);
    margin: rem(($padding / 2) 0);
    padding: rem($padding-xs-vertical * 3 $padding-xs-horizontal);

    &:hover,
    &:active,
    &:focus {
      color: $link-hover-color;
      background-color: $link-bg-hover-color;
      text-decoration: none;
    }
  }

  &-branding,
  &-section-left,
  &-section-center,
  &-section-right {
    @extend .list-inline;
    height: 100%;
    line-height: rem($height);
    margin: 0;

    > li {
      height: 100%;
      line-height: rem($height);
      margin: 0;
      padding: rem(0 $padding / 2);

      .link {
        color: $link-color;
      }
    }

    input[type="search"] {
      float: left;
      margin-bottom: rem(-12);
      width: auto;

      &:focus {
        @include tab-focus();
      }
    }
  }

  &-section {
    height: 100%;
    line-height: rem($height);
    position: relative;
    text-align: center;
    width: auto;

    &-left {
      height: 100%;
      float: left;
      text-align: left;
    }

    &-center {
      display: inline-block;
      // height: rem($height);
    }

    &-right {
      height: 100%;
      float: right;
      text-align: left;
    }
  }
}
