/**
 * Side navigation
 * ----------------------------------------------------------------
 */

.nav-aside {
  background: $nav-aside-bg-color;
  bottom: 0;
  position: fixed;
  top: rem($nav-top-height);
  transition: transform $animation-speed linear;
  width: rem($nav-aside-width);
  z-index: layer('nav-aside');

  /**
   * Styling for emi-transparent line
   */
  &:before {
    background: rgba(0, 0, 0, .12);
    bottom: 0;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: layer("pseudo");
  }

  /**
   * For semantics & correct scrolling behaviour
   */
  > aside {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
  }

  ul {
    @extend .list-unstyled;
  }

  &-title {
    color: $nav-aside-title-color;
    font-size: 90%;
    font-weight: 600;
    margin-top: rem($nav-aside-vertical-padding / 2);
    padding: rem(0 $nav-aside-horizontal-padding);
    text-transform: uppercase;

    &:first-letter {
      font-size: 110%;
    }

    + ul {
      margin-top: rem(-$nav-aside-vertical-padding);
    }
  }

  &-section {
    padding: rem($nav-aside-vertical-padding 0);
    position: relative;

    /**
     * section bottom border
     */
    &:not(:last-child) {
      &:after {
        background: $nav-aside-section-border-color;
        bottom: 0;
        content: '';
        height: 1px;
        left: rem($nav-aside-horizontal-padding);
        position: absolute;
        right: rem($nav-aside-horizontal-padding);
      }
    }

    /**
     * All levels
     */
    li {
      a {
        color: $nav-aside-link-color;
        display: table;
        padding: rem($nav-aside-vertical-padding $nav-aside-horizontal-padding);
        text-decoration: none;
        width: 100%;

        &:hover,
        &:active,
        &:focus {
          background-color: $nav-aside-link-hover-background-color;
          color: $nav-aside-link-hover-color;

          .badge {
            background-color: $nav-aside-badge-hover-background-color;
            color: $nav-aside-badge-hover-color;
          }
        }

        &:focus {
          box-shadow: none;
        }

        > *, {
          display: table-cell;
          vertical-align: middle;
        }

        > i {
          padding: rem(1 10 0 0);
        }
      }

      &.active {
        a {
          color: $nav-aside-link-active-color;
          font-weight: 700;

          + ul {
            a {
              color: $nav-aside-link-color;
              font-weight: normal;

              &:hover,
              &:active,
              &:focus {
                background-color: $nav-aside-link-hover-background-color;
                color: $nav-aside-link-hover-color;
              }
            }
          }
        }
      }
    }

    /**
     * First level
     */
    > ul {
      > li {
        border-bottom: 1px solid transparent;
        height: auto;
        overflow: hidden;
        position: relative;

        &.can-open {
          &:before {
            content: "\f0d7";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            pointer-events: none;
            position: absolute;
            right: rem($nav-aside-horizontal-padding);
            text-decoration: inherit;
            top: rem($nav-aside-vertical-padding);
            transition: color $animation-speed linear, transform $animation-speed linear;
            z-index: layer('pseudo');
          }

          &.open {
            border-bottom: 1px solid $nav-aside-bg-color;
            background: $nav-aside-item-open-color;

            &:before {
              transform: rotate(180deg);
            }

            > a {
              font-weight: 700;
            }
          }

          > a {
            padding-right: rem(30);
          }
        }
      }


      /**
       * Second level
       */

      ul {
        display: none;

        li {
          a {
            padding: rem($nav-aside-item-vertical-padding $nav-aside-horizontal-padding $nav-aside-item-vertical-padding (2 * $nav-aside-horizontal-padding));
          }

          &.active {
            a {
              &:hover,
              &:active,
              &:focus {
                .badge {
                  background: $nav-aside-badge-active-background-hover-color;
                  color: $nav-aside-badge-active-hover-color;
                }
              }
            }

            .badge {
              background: $nav-aside-badge-active-background-color;
              color: $nav-aside-badge-active-color;
            }
          }
        }
      }
    }
  }

  .badge {
    background-color: $nav-aside-badge-background-color;
    color: $nav-aside-badge-color;
    float: right;
    margin-top: rem(5.5 - $badge-padding-vertical);
    transition: background $animation-speed linear, color $animation-speed linear;
  }
}
