/**
 * Side navigation
 */

$nav-aside-horizontal-padding: 15px !default;
$nav-aside-vertical-padding: 8px !default;
$nav-aside-section-border-color: $gray-lighter !default;
$nav-aside-title-color: $gray-light !default;
$nav-aside-width: 220px !default;

$nav-aside-link-color: lighten($gray-dark, 12%) !default;

/**
 * Sidenav styling
 */
.nav-aside {
  background: $nav-aside-bg-color;
  bottom: 0;
  position: fixed;
  top: rem($nav-top-height);
  transition: transform $animation-speed linear;
  width: rem($nav-aside-width);
  z-index: layer('nav-aside');

  /**
   * Styling for emi-transparent line
   */
  &:before {
    background: rgba(0, 0, 0, .12);
    bottom: 0;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: layer("pseudo");
  }

  /**
   * For semantics & correct scrolling behaviour
   */
  > aside {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
  }

  ul {
    @extend .list-unstyled;
  }

  &-title {
    color: $nav-aside-title-color;
    font-size: 90%;
    font-weight: 600;
    padding: rem($nav-aside-vertical-padding $nav-aside-horizontal-padding 0);
    text-transform: uppercase;

    &:first-letter {
      font-size: 110%;
    }
  }

  &-section {
    padding: rem($nav-aside-vertical-padding 0);
    position: relative;

    /**
     * section bottom border
     */
    &:not(:last-child) {
      &:after {
        background: $nav-aside-section-border-color;
        bottom: 0;
        content: '';
        height: 1px;
        left: rem($nav-aside-horizontal-padding);
        position: absolute;
        right: rem($nav-aside-horizontal-padding);
      }
    }

    /**
     * All levels
     */
    li {
      a {
        color: $nav-aside-link-color;
        display: table;
        padding: rem($nav-aside-vertical-padding $nav-aside-horizontal-padding);
        text-decoration: none;
        width: 100%;

        &:hover,
        &:active,
        &:focus {
          background: rgba(0, 0, 0, .05);
          color: $nav-aside-link-hover-color;
        }

        > *, {
          display: table-cell;
          vertical-align: middle;
        }

        > i {
          // display: inline;
          padding: rem(1 10 0 0);
        }
      }
    }

    /**
     * First level
     */
    > ul {
      margin-top: rem(-$nav-aside-vertical-padding);
    }

    /**
     * Second level
     */
  }
}




/**
 * Left navigation specific
 */

.nav-left {
  left: 0;
  transform: translate(rem(-$nav-aside-width), 0);
  transition: transform $animation-speed linear;

  @include mq($screen-sm) {
    transform: translate(0, 0);
  }

  &:before {
    right: 0;
  }
}
