<div style="width:1000px">
  <div class="pull-left" style="background: red; width: 500px;">
    <div class="" style="line-height: 39px;">
      <div class="pull-left">
        <button tabindex="-1" type="button" class="btn pull-left" ng-click="$selectPane(0)">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>
      <div class="text-center clearfix">
        <label ng-bind="firstTitle"></label>
      </div>
    </div>
    <div class="table-responsive">
      <table >
        <thead>
        <tr ng-bind-html="dayLabels" >

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, row) in firstCal">
          <td class="text-center" ng-repeat="(j, el) in row">
            <button tabindex="-1" type="button"  ng-click="$select(el)" ng-disabled="el.disabled">
              <span ng-bind="el.label"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pull-right" style="background: green; width: 500px;">
    <div class="" style="line-height: 39px;">
      <div class="pull-right">
        <button tabindex="-1" type="button" class="btn pull-left" ng-click="$selectPane(1)">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="text-center clearfix">
        <label ng-bind="lastTitle"></label>
      </div>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
        <tr class="days" ng-bind-html="dayLabels"></tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, row) in secondCal">
          <td class="text-center" ng-repeat="(j, el) in row">
            <button tabindex="-1" type="button"  ng-click="$select(el)" ng-disabled="el.disabled">
              <span ng-bind="el.label"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
