<!-- Top information bar for table -->

<div class="bar">
  <div class="bar-section">
    <!-- <div class="bar-section-left">
      <strong>{{numFirst}} - {{numLast}}</strong> van {{itemLength}}
    </div> -->
    <ul class="bar-section-right">
      <li>
        <button data-ng-if="viewActions && selectedCheck" tink-popover tink-popover-group="option-table" tink-popover-template="templates/tinkTableAction.html">Acties <i class="fa fa-caret-down"></i></button>
      </li>
      <li>
        <button tink-popover tink-popover-group="option-table" tink-popover-template="templates/tinkTableShift.html">Kolommen <i class="fa fa-caret-down"></i></button>
      </li>
    </ul>
  </div>
</div>


<!-- placeholder for table -->
<table></table>


<div class="table-sort-options" data-ng-if="itemLength > 0">
  <div class="table-sort-info">
    <strong>{{numFirst}} - {{numLast}}</strong> van {{itemLength}}
    <div class="select">
      <select data-ng-change="setItems()" data-ng-model="perPage">
        <option data-ng-repeat="items in itemsPerPage" data-ng-bind="items">{{items}}</option>
      </select> items per pagina
    </div>
  </div>
  <div class="table-sort-pagination" data-ng-if="pages > 1">
    <ul class="pagination">
      <li class="prev" data-ng-class="{disabled:pageSelected===1}"  data-ng-click="setPrev()"><a href="" title=""><span>Vorige</span></a></li>
      <li data-ng-class="{active:pageSelected===1}" data-ng-click="setFirst()"><a href="" title="">1</a></li>
      <li data-ng-repeat="pag in showNums track by $index" data-ng-class="{active:pag===pageSelected}" data-ng-click="setPage(pag)"><a href="" data-ng-if="pag !== -1">{{pag}}</a> <span data-ng-show="pag === -1">...<span></li>
      <li class="next" data-ng-click="setNext()" data-ng-class="{disabled:pageSelected===pages}"><a href="" title=""><span>Volgende</span></a></li>
    </ul>
  </div>
</div>
