  <div class="datepicker-input-fields row no-gutter">
  <div class="col-sm-6">
    <input type="text" id="firstDateElem" class="elem-one" data-date data-format="00/00/0000" data-placeholder="dd/mm/jjjj" tink-format-input ng-model="firstDate" valid-name="first">
    <span class="datepicker-icon">
      <i class="fa fa-calendar"></i>
    </span>
  </div>
  <div class="col-sm-6">
    <input type="text" id="lastDateElem" class="elem-two" data-date data-format="00/00/0000" data-placeholder="dd/mm/jjjj" tink-format-input ctrl-model="dynamicName" valid-name="last"  ng-model="lastDate">
    <span class="datepicker-icon">
      <i class="fa fa-calendar"></i>
    </span>
  </div>
</div>