<!-- placeholder for table -->
<table></table>

<!-- footer functions for changing the view of the table -->
<div class="table-viewer">

  <!-- button for rows per table -->
  <button class="btn-sq" ng-repeat="num in perPageView" ng-click="perPageClick($index)" ng-class="{selected:numSelected===$index}">{{num}}</button> per pagina

  <div class="pull-right">
    <!-- first table page -->
    <i class="fa fa-angle-double-left btn btn-sq" ng-disabled="pageSelected === 1" ng-click="setFirst()"></i>
    <!-- previous table page -->
    <i ng-click="setPrev()" ng-disabled="pageSelected === 1" class="fa fa-angle-left btn btn-sq"></i>
    <!-- table page number -->
    <button class="btn-sq" ng-repeat="num in pages" ng-click="setPage($index)" ng-class="{selected:pageSelected===$index+1}">{{num}}</button>
    <!-- next table page -->
    <i class="fa fa-angle-right btn btn-sq" ng-disabled="pageSelected === pages.length" ng-click="setNext()"></i>
    <!-- last table page -->
    <i ng-click="setLast()" class="fa fa-angle-double-right btn btn-sq" ng-disabled="pageSelected === pages.length"></i>
  </div>

</div>

<div class="popover arrow-top-right show">
<!-- arrows to sort the colums -->
   <i class="fa fa-arrow-up" ng-click="omhoog()"> </i>
   <i class="fa fa-arrow-down" ng-click="omlaag()"></i>

<!-- checkboxlist in pop-up-menu -->

  <div class="list-unstyled">
  <li ng-repeat='header in viewer | filter:{ visible: true }' >
    <div class="checkbox">
      <input type="checkbox" ng-model="header.checked" id="{{header.alias}}" name="{{header.alias}}" value="{{header.alias}}" checked="">
      <label for="{{header.alias}}"><span ng-class="{selected:selected===$index}" ng-click="select($event,$index)">{{header.alias}}</span></label>
    </div>
  </li>
  </div>

  <!-- save / cancel button in pop-up-menu -->
  <button ng-click="save()">save</button> <button ng-click="cancel()">cancel</button>
</div>
