<!-- placeholder for table -->

<table></table>

<button tink-popover tink-popover-template="templates/tinkTableShift.html">Option</button>

<div ng-if="viewActions && selected === true">
  <button tink-popover tink-popover-template="templates/tinkTableAction.html">Actions</button>
</div>

<div class="table-sort-options">
  <div class="table-sort-info">
    <strong>{{numFirst}} - {{numLast}}</strong> van {{itemLength}}
    <div class="select">
      <select ng-Change='setItems()' ng-model='perPage'>
        <option ng-repeat="items in itemsPerPage" ng-bind="items">{{items}}</option>
      </select> items per pagina
    </div>
  </div>
  <div class="table-sort-pagination">
    <ul class="pagination">
      <li class="prev" ng-class="{disabled:pageSelected===1}"  ng-click="setPrev()"><a href="" title="" tabindex="-1"><span>Vorige</span></a></li>
      <li ng-class="{active:pageSelected===1}" ng-click="setFirst()"><a href="" title="">1</a></li>
      <li ng-repeat="pag in showNums track by $index" ng-class="{active:pag===pageSelected}" ng-click="setPage(pag)"><a href="" ng-if="pag !== -1">{{pag}}</a> <span ng-show="pag === -1">...<span></li>
      <li class="next" ng-click="setNext()" ng-class="{disabled:pageSelected===pages}"><a href="" title=""><span>Volgende</span></a></li>
    </ul>
  </div>
</div>



<br />
<br />


