<div class="datepickerrange">
  <div class="pull-left datepickerrange-left">
    <div class="datepickerrange-header-left">
      <div class="pull-left">
        <button tabindex="-1" type="button" class="btn pull-left" ng-click="$selectPane(0)">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>
      <div class="text-center clearfix">
        <label ng-bind="firstTitle"></label>
      </div>
    </div>
    <div class="table-responsive">
      <table >
        <thead>
        <tr ng-bind-html="dayLabels" >
        </tr>
        </thead>
        <tbody  id="firstCal" ng-bind-html="firstCal">
        </tbody>
      </table>
    </div>
  </div>
  <div class="pull-right datepickerrange-right">
    <div class="datepickerrange-header-right">
      <div class="pull-right">
        <button tabindex="-1" type="button" class="btn pull-left" ng-click="$selectPane(1)">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="text-center clearfix">
        <label ng-bind="lastTitle"></label>
      </div>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
        <tr class="days" ng-bind-html="dayLabels"></tr>
        </thead>
        <tbody id="secondCal" ng-bind-html="secondCal">
        </tbody>
      </table>
    </div>
</div>
  </div>