<!-- placeholder for table -->

<table></table>

<!-- old code for footer functions to change the view of the table -->
<!-- <div class="table-viewer">

  <button class="btn-sq" ng-repeat="num in perPageView" ng-click="perPageClick($index)" ng-class="{selected:numSelected===$index}">{{num}}</button> per pagina


  <div class="pull-right">
    <button class="btn-sq" ng-click="setFirst()" ng-disabled="pageSelected === 1"><i class="fa fa-angle-double-left"></i></button><button class="btn-sq" ng-click="setPrev()" ng-disabled="pageSelected === 1"><i class="fa fa-angle-left"></i></button><button class="btn-sq" ng-repeat="num in pages" ng-click="setPage($index)" ng-class="{selected:pageSelected===$index+1}">{{num}}</button><button class="btn-sq" ng-click="setNext()" ng-disabled="pageSelected === pages.length"><i class="fa fa-angle-right"></i></button><button class="btn-sq" ng-click="setLast()" ng-disabled="pageSelected === pages.length"><i class="fa fa-angle-double-right"></i></button>
  </div>

</div> -->

<!-- beginning of new styling for footer functions to change the view of the table -->

<div class="table-viewer">

  <span class="items-view">
  <span class="items-shown">1 - 10</span> van 1.351
  </span>
  <span class="items-per-page">
  <select>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select> items per pagina
  </span>

  <!-- button for pagination -->
  <div class="pull-right">
    <button class="btn-prev">vorige</button>
    <button class="btn-sq">1</button>
    ...
    <button class="btn-sq" selected>7</button>
    ...
    <button class="btn-sq">12</button>
    <button class="btn-next">volgende</button>
  </div>

</div>

<!-- ending of new styling -->

<br />
<br />

<!-- pop-over-menu to sort the columns of the table -->
<div class="popover arrow-top-right show">
<!-- arrows to sort the columns -->
   <i class="fa fa-arrow-up" ng-click="omhoog()"> </i>
   <i class="fa fa-arrow-down" ng-click="omlaag()"></i>

<!-- checkboxlist in pop-up-menu -->

  <div class="list-unstyled">
  <li ng-repeat='header in viewer | filter:{ visible: true }' >
    <div class="checkbox">
      <input type="checkbox" ng-model="header.checked" id="{{header.alias}}" name="{{header.alias}}" value="{{header.alias}}" checked="">
      <label for="{{header.alias}}"><span ng-class="{selected:selected===$index}" ng-click="select($event,$index)">{{header.alias}}</span></label>
    </div>
  </li>
  </div>

  <!-- save / cancel button in pop-up-menu -->
  <button ng-click="save()">save</button> <button ng-click="cancel()">cancel</button>
</div>
