<!-- arrows to sort the columns -->
   <button ng-disabled="selected<1" ng-click="omhoog()"><i class="fa fa-arrow-up"> </i></button>
   <button  ng-disabled="selected<0 || selected === selectedMax" ng-click="omlaag()"><i class="fa fa-arrow-down"></i></button>

  <!-- checkboxlist in pop-up-menu -->

  <ul class="table-interactive-cols">
  <li ng-repeat='header in viewer | filter:{ visible: true }' >
    <div class="checkbox is-selectable" ng-class="{selected:selected===$index}">
      <input type="checkbox" ng-model="header.checked" ng-change="headerChange()" id="{{header.alias}}" name="{{header.alias}}" value="{{header.alias}}" checked="">
      <label for="{{header.alias}}"><span ng-class="{selected:selected===$index}" ng-click="select($event,$index)">{{header.alias}}</span></label>
    </div>
  </li>
  </div>

  <!-- save / cancel button in pop-up-menu -->
  <button class="btn-xs" ng-click="close()">klaar</button>
