<div class="upload">
  <header class="upload-header">
    <div data-ng-mouseup="browseFiles($event)">
      <strong translate>Sleep hier een bestand</strong> <span translate>of klik om te bladeren</span>
      <input  data-ng-if="multiple" style="display:none;" class="fileInput" name="{{fieldName}}" type="file" ng-file-select="onFileSelect($files)" multiple="" />
      <input  data-ng-if="!multiple" style="display:none;" class="fileInput" name="{{fieldName}}" type="file" ng-file-select="onFileSelect($files)"/>
    </div>
  </header>
  <span ng-show="message.hold">De vorige file is vervangen <a ng-mouseup="undo($event)">ongedaan maken</a></span>
  <ul class="uploaded-files">
    <li data-ng-repeat="file in files track by $index" data-ng-class="{'success': !file.error, 'error': file.error}" class=" progress-{{file.getProgress()}}">
      <button class="btn-xs delete" ng-click='del($index)'> </button>
      <span class="line" style="width: {{file.getProgress()}}%"></span>
      <span class="file">{{file.getFileName()}}</span>
      <span class="success" ng-show="!file.error">[{{file.getProgress()}}%]</span>
      <span class="error" ng-show="file.error">Er is een fout opgetreden :
        <span class="error-type" ng-show="file.error.type">dit bestandstype is niet toegelaten.</span>
        <span class="error-filesize" ng-show="file.error.size">dit bestand overschrijdt de toegelaten bestandsgrootte.</span>
      </span>

    </li>
  </ul>
  <span class="help-block" ng-transclude>Toegelaten bestanden: pdf, jpg, jpeg. Maximum grootte: 2MB</span>
</div>
